<div class="row no-gutters">
  <div class="col-2"></div>
  <div class="col-8">
        <h1 id="main-topic">{{result.criEventMainTopic}}</h1>
  </div>
  <div class="col-2">
    <ul class="navbar-nav mr-auto"> 
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Registor</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['CricketMatch/teamform']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Cricket Team</a>
            <a class="dropdown-item" [routerLink]="['CricketMatch/employeeform']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Employee Participation</a>
            <a class="dropdown-item" [routerLink]="['CricketMatch/detailsview']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Details of cricket</a>
            </div>
        </li>
    </ul>
  </div>
</div>

<div class="row">
    <div class="col-1"></div>
      <div class="col-md-5">
        <div class="card" style="width: 100%;">
            <img class="card-img-top" src="https://timedotcom.files.wordpress.com/2018/03/cameron-bancroft-cricket-australia.jpg" alt="Card image cap">
        </div>
      </div>
      <div class="col-sm-5">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{result.criEventSubTopic}}</h2>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="dtp" id="date" class="fas fa-calendar-alt">{{result.criEventDate | date }}</i></li>
              <li class="list-group-item"><i class="dtp" id="time" class="fas fa-clock">{{result.criEventTime | date:'shortTime'}}</i></li>
              <li class="list-group-item"><i class="dtp" id="place" class="fas fa-map-marker-alt">{{result.criEventPlace}}</i></li>
            </ul>
        </div>
      </div>
      <div class="col-sm-1"></div>
  </div>

  <div class="row no-gutters">
    <div class="col-2"></div>
    <div class="col-8">
        <p id="deadline">
            DeadLine :  {{result.criEventDeadLine | date:'medium' }}
        </p>
    </div>
    <div class="col-1"></div>
  </div>

  <div class="row no-gutters">
      <div class="col-2"></div>
      <div class="col-9">
          <article>
              {{result.criEventContent1}}
          </article>
      </div>
      <div class="col-1"></div>
  </div>

  <div class="row no-gutters">
    <div class="col-2"></div>
    <div class="col-9">
        <article>
            {{result.criEventContent2}}
        </article>
    </div>
    <div class="col-1"></div>
  </div>
  
<br>

  <div class="row no-gutters">
      <div class="col-1"></div>
      <div class="col-10">
          <form>
            <div class="form-group" >
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
            </div>
            <div class="form-group">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comment"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Post comment</button>
          </form>
      </div>
      <div class="col-1"></div>
  </div>



  