<app-nav-bar></app-nav-bar>
<div id="background" *ngIf="taskdetails"  >
    <div id="backgroundIN" >

<br><br>
<div class="card" id="cardback"  class="col-lg-10 container">
<div class="container">
  <h5>{{taskdetails.taskName}}</h5>
    <p id="des">{{taskdetails.description}}</p>
 




<div class="col-lg-12 container">

<div class="row">
    <div class="col-sm-4">
      <div class="card">


    <div class="card-body">
      <h5 class="card-title"> Information </h5>
      <h6 class="card-subtitle mb-2 text-muted">Details you added for assigned task</h6>
    <table  class="table table-borderless">
  <tr >
    <th>Description</th>
  </tr>
  <tr *ngFor="let i of result">
    <td>{{i.infoDescription}}</td>
    <button type="button" class="btn btn-link" (click)="deleteInfoDetails(i.infoID)">Delete</button>

  </tr>
</table>

</div>
</div>
    </div>

    <div class="col-sm-8">
        <div class="card">
      <div class="card-body">
        <h5 class="card-title">Contact Details</h5>
        <h6 class="card-subtitle mb-2 text-muted">Contact details you added for assigned task</h6>
  <table  class="table table-borderless">
    <tr >
      <th>ContactPerson</th>
      <th>Description</th>
      <th>Number</th>
      <th>Number</th>
      <th>Address</th>

    </tr>
    <tr *ngFor="let j of contactresult">
      <td>{{j.name}}</td>
      <td>{{j.contactDescription}}</td>
      <td>{{j.number1}}</td>
      <td>{{j.number1}}</td>
      <td>{{j.address}}</td>

      <button type="button" class="btn btn-link" (click)="deleteContactDetail(j.contactDetailId)">Delete</button>
  
    </tr>
  </table>
  
  
  </div>
    </div>
    </div>
  </div>
</div>

</div>
</div>
</div>
</div>