h2 {
    font-family: helvetica, sans-serif;
}

input, label{
    font-family: Arial, sans-serif;
} 

#btn {   
    background-color: rgb(176, 14, 35);
}
/*
h2 {
font-family: helvetica, sans-serif;
}

input, label{
font-family: Arial, sans-serif;
} */