<div class="card" style="width: 25rem;">
  <div class="card-body">
    <h3 class="card-title">Create Project</h3>
    <h6 class="card-subtitle mb-2 text-muted">
      <h6 id="msg">{{Message}}</h6>
    </h6>
    <form [formGroup]="projectForm" autocomplete="off" novalidate (ngSubmit)="createrole(projectForm.value)">
      <div class="form-group col-md-12">

        <input formControlName="projectId" required>
        <label> project Id</label>

      </div>
      <div class="form-group col-md-12">

        <input formControlName="projectName" required>
        <label> Project Name</label>

      </div>
      <div class="form-group col-md-12">
        <input formControlName="projectDescription" required>
        <label> Project Description</label>

      </div>

      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="submit" id="btn" class="btn btn-success" [disabled]="!projectForm.valid">Create</button>

      </div>
    </form>
  </div>
</div>