<!-- 


      <div >
        
        <div  class="wrapper fadeInDown col-md-12 container">
          <div id="formContent">
         
            <div class="fadeIn first">
              <h1>Create Project</h1>
            </div>
            <h5 class="card-title"> <h3 id="msg">{{Message}}</h3></h5>
     
            <form [formGroup]="projectForm" autocomplete="off" novalidate (ngSubmit)="createrole(projectForm.value)">
                <div class="form-group col-md-12">
                   
                       <input formControlName="projectId" required >
                    <label> project Id</label>
                    <em *ngIf="validateControl('projectId') && hasError('projectId', 'required')">*Project Id is required!</em>
                   
                </div>
                <div class="form-group col-md-12">
                    
                     <input formControlName="projectName" required >
                    <label> Project Name</label>
                    <em *ngIf="validateControl('projectName') && hasError('projectName', 'required')">*Project name is required</em>
                    
                </div>
                <div class="form-group col-md-12">
                     <input formControlName="projectDescription" required >
                    <label> Project Description</label>
                    <em *ngIf="validateControl('projectDescription') && hasError('projectDescription', 'required')">*Project details is required</em>
                   
                </div>
                
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="submit" class="btn btn-success" [disabled]="!projectForm.valid">Create</button>
                
            </div> 
            </form>
           
        
          </div>
        </div>
    
  
        </div>
    
    


        <div class="card" style="width: 25rem;">
                <div class="card-body">
                  <h3 class="card-title">Create Project</h3>
                  <h6 class="card-subtitle mb-2 text-muted"><h6 id="msg">{{Message}}</h6></h6>
                 
                  <form [formGroup]="projectForm" autocomplete="off" novalidate (ngSubmit)="createrole(projectForm.value)">
                        <div class="form-group col-md-12">
                           
                               <input formControlName="projectId" required >
                            <label> project Id</label>
                            <em *ngIf="validateControl('projectId') && hasError('projectId', 'required')">*Project Id is required!</em>
                           
                        </div>
                        <div class="form-group col-md-12">
                            
                             <input formControlName="projectName" required >
                            <label> Project Name</label>
                            <em *ngIf="validateControl('projectName') && hasError('projectName', 'required')">*Project name is required</em>
                            
                        </div>
                        <div class="form-group col-md-12">
                             <input formControlName="projectDescription" required >
                            <label> Project Description</label>
                            <em *ngIf="validateControl('projectDescription') && hasError('projectDescription', 'required')">*Project details is required</em>
                           
                        </div>
                        
                        <div class="btn-group" role="group" aria-label="Basic example">
                          <button type="submit" class="btn btn-success" [disabled]="!projectForm.valid">Create</button>
                        
                    </div> 
                    </form>
                   
                </div>
              </div>
           -->
    
    
              <div class="card" style="width: 25rem;">
                    <div class="card-body">
                      <h3 class="card-title">Create Project</h3>
                      <h6 class="card-subtitle mb-2 text-muted"><h6 id="msg">{{Message}}</h6></h6>
                      <form [formGroup]="projectForm" autocomplete="off" novalidate (ngSubmit)="createrole(projectForm.value)">
                            <div class="form-group col-md-12">
                               
                                   <input formControlName="projectId" required >
                                <label> project Id</label>
                                <!-- <em *ngIf="validateControl('projectId') && hasError('projectId', 'required')">*Project Id is required!</em> -->
                               
                            </div>
                            <div class="form-group col-md-12">
                                
                                 <input formControlName="projectName" required >
                                <label> Project Name</label>
                                <!-- <em *ngIf="validateControl('projectName') && hasError('projectName', 'required')">*Project name is required</em> -->
                                
                            </div>
                            <div class="form-group col-md-12">
                                 <input formControlName="projectDescription" required >
                                <label> Project Description</label>
                                <!-- <em *ngIf="validateControl('projectDescription') && hasError('projectDescription', 'required')">*Project details is required</em> -->
                               
                            </div>
                            
                            <div class="btn-group" role="group" aria-label="Basic example">
                              <button type="submit" id="btn" class="btn btn-success" [disabled]="!projectForm.valid">Create</button>
                            
                        </div> 
                        </form>
                    </div>
                  </div>
              
        
        
      
    
