<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div class="tableWithHeader ">
        <div class="Header">
          <h3 class="panel-title">..All Department Details..
          </h3>

        </div>

        <div class="table-responsive" id="table">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Department Id</th>
                <th>Department Name</th>
                <th>Update</th>

                <th></th>
                <th *ngIf="isAdmin"></th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of departments;">
                <td>{{i.dprtId}}</td>
                <td>{{i.dprtName}}</td>

                <td><button type="button" id="update" class="btn btn-success" (click)=updateDepartment(i.dprtId)><img
                      id="loadImage" style=" width : 25px;" class="card-img-top" src="assets/details.png" alt="Cinque Terre"></button></td>
                <td *ngIf="isAdmin"><button type="button" id="delete" class="btn btn-danger" (click)=deleteEmployee(i.dprtId)>Delete</button></td>

                <td *ngIf="(i.isActive)&&(Loading!=i.dprtId)"><button id="btn" type="button" id="delete" class="btn"
                    (click)=DeActive(i.dprtId)>Deactive</button></td>
                <td *ngIf="!(i.isActive)&&(Loading!=i.dprtId)"><button id="btn" type="button" id="delete" class="btn"
                    (click)=Active(i.dprtId)>Active</button></td>
                <td *ngIf="(Loading==i.dprtId)">
                  <div><img id="loadImage" style=" width : 25px;" class="card-img-top" src="assets/loading1.gif" alt="Cinque Terre"></div>
                </td>

              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>
</div>
<div class="container">

  <!-- Trigger the modal with a button -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

        </div>
        <div class="modal-body">
          <app-department-create></app-department-create>
        </div>

      </div>

    </div>
  </div>

</div>