<div class="wrapper fadeInDown col-md-6 container">
    <div id="formContent">
        <!-- Tabs Titles -->
        <br>
        <!-- Icon -->
        <div class="fadeIn first">
            <h1>Change Password</h1>
        </div>
        <h5 class="card-title">
            <h3 id="msg">{{message}}</h3>
        </h5>

        <!-- Sign up Form -->
        <form [formGroup]="Form" autocomplete="off" novalidate (ngSubmit)="submitform(Form.value)">
            <div class="form-group col-md-12">
                <label for="email" class="sr-only">email</label>
                <input class="form-control" formControlName="email" id="email" required>
                <label> Email</label>
                <em *ngIf="validateControl('email') && hasError('email', 'required')">*Email is required!</em>
                <em *ngIf="validateControl('email') && hasError('email', 'email')">*This not a valid email!</em>

            </div>
            <div class="form-group col-md-12">
                <label for="key" class="sr-only">Password</label>
                <input type="password" formControlName="oldpassword" id="oldpassword" class="form-control" required>
                <label> Old password</label>
                <em *ngIf="validateControl('oldpassword') && hasError('oldpassword', 'required')">*Old password is
                    required</em>
                <em *ngIf="validateControl('oldpassword') && hasError('oldpassword', 'maxlength')">*Maximum allowed
                    length is 100 characters.</em>

            </div>
            <div class="form-group col-md-12">
                <label for="email" class="sr-only">newpassword</label>
                <input type="password" class="form-control" formControlName="newpassword" id="newpassword" required>
                <label> New password</label>
                <em *ngIf="validateControl('newpassword') && hasError('newpassword', 'required')">*New password
                    required!</em>
                <em *ngIf="validateControl('newpassword') && hasError('newpassword', 'email')">*This not a valid email!</em>

            </div>
            <div class="form-group col-md-12">
                <label for="key" class="sr-only">Password</label>
                <input type="password" formControlName="confirmpassword" id="confirmpassword" class="form-control"
                    required>
                <label> Retype new Ppassword</label>
                <em *ngIf="validateControl('confirmpassword') && hasError('confirmpassword', 'required')">*Confirm
                    password is required</em>
                <em *ngIf="((Form.errors?.ismatch) )">*confirm password is not match</em>

            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
                <!-- <button type="button" class="btn btn-danger" (click)="redirectToOwnerList()">Cancel</button> -->
                <button *ngIf="!(waiting)" type="submit" class="btn btn-success" [disabled]="!Form.valid">Submit</button>
                <button *ngIf="(waiting)" class="btn btn-success"> <img id="loadImage" style=" width : 35px;" class="card-img-top"
                        src="assets/loading1.gif" alt="Cinque Terre" id="loading"> </button>
            </div>

        </form>
        <div id="formFooter">
            <a id="crateAccountlink" class="underlineHover" (click)="redirectToOwnerList()"></a>

        </div>
    </div>
</div>