<div class="form-row">
  <div class="form-group col-md-3">
  </div>
 
  <div class="form-group col-md-6" id="page">
      <div class="card">
          <div class="card-header" id="header">
              <h4 class=" text-center" *ngIf="!(RegisterSucces)">Event management system!</h4>
              <h4 *ngIf="(RegisterSucces)"> Welcome to the Event Management System</h4>
          </div>
          <div class="card-body" id="card-body">
            <blockquote class="blockquote mb-0">
              <br>
              <h5>Hello, {{Name}}</h5><br>
              <h5 *ngIf="!(RegisterSucces)">Check your email and enter the security code below to finish setting up your Account !</h5>
              <h4 id="error">{{message}}</h4>
                <form *ngIf="!(RegisterSucces)" [formGroup]="registerForm" autocomplete="off" novalidate (ngSubmit)="Register(registerForm.value)">
                    
                    <div class="form-row">
                        <div class="form-group col-md-12">
                          <input  placeholder="Resiter code" class="form-control" formControlName="resitercode" id="resitercode">
                          <small *ngIf="validateControl('resitercode') && hasError('resitercode', 'required')">*register code is required</small>
                       </div>
                       
                            <button id="btn"  type="submit" [disabled]="!registerForm.valid">Register</button>
                       
                  </div>
            </form>
            <div *ngIf="RegisterSucces">
                <h5>Welcome to Our Event Management system.</h5>
                <h5>You can login to the system now, go to <a href="http://localhost:4200/profile/login">login</a>,</h5>
                <h5> Thank you!</h5>
            </div>
            <br>
              <footer class="blockquote-footer">Creative Software <cite title="Source Title">Event Management System</cite></footer>
            </blockquote>
          </div>
        </div>


<br>

</div>
<div class="form-group col-md-3">
</div>
</div>