<app-nav-bar></app-nav-bar>

    <div class="col-md-10 container">
    	<div class="row">
			<div class="col-md-12">
				<div class="tableWithHeader ">
					<div class="Header">
						<h3 class="panel-title">...</h3>
						
					</div>
					<div class="panel-body">
              <div class=" input-group mb-3" [class.error]="isNotEmail">
                  <div class="input-group-prepend">
                  <label (click)=filterInput() class="input-group-text" for="filter">Search.. </label>
                  </div>
						<input *ngIf="toggle" [(ngModel)]="filtertext"  type="text" class="form-control" id="filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
             
          
          <div class="table-responsive" id="table">
					<table class="table">
            <thead>
            <tr >
                <th></th>
              <th>Name</th>
              <th>Email</th>
              <th>Project</th>
              
              <th>Position</th>
              <th></th>
              <th></th>
            
              <th *ngIf="isAdmin"></th>
             
            </tr></thead>
            <tbody>
            <tr id="zoom1" *ngFor="let i of result | filterPipe: filtertext" >
              <td id="zoom3" > <img [src]= "ImageUrl+i.empProfilePicture" id="profilePicture" width="100px" ></td>
              <td>{{i.empName}}</td>
              <td>{{i.empEmail}}</td>
              <td>{{i.projectName}}</td>            
              <td>{{i.empPosition}}</td>
              <td id="zoom3" ><button type="button" id="details" class="btn  btn-default" >Change</button></td>
               <td >
                <div class="form-group col-md-6">
                          
                  <select class="form-control"  placeholder="Department" id="department">
                          <option value="" selected disabled hidden>Departments</option>
                          <option (change)=changeposition(p.positionId)  [value]="p.positionId" *ngFor="let p of position">{{p.positionName}}</option>
                      </select>
        </div>
               </td>
              <td id="zoom3" ><button type="button" id="details" class="btn  btn-default" (click)=detailsemployee(i.empId)><img id="loadImage" style=" width : 15px;" class="card-img-top" src="assets/details.png" alt="Cinque Terre" ></button></td>
                    <td id="zoom3" ><button type="button" id="update" class="btn  btn-success" (click)=updateEmployee(i.empId)><img id="loadImage" style=" width : 15px;" class="card-img-top" src="assets/edit.png" alt="Cinque Terre" ></button></td>
                    <td id="zoom3" *ngIf="isAdmin"><button type="button" id="delete" class="btn  btn-danger" (click)=deActiveEmployee(i.empId)><img id="loadImage" style=" width : 15px;" class="card-img-top" src="assets/delete.png" alt="Cinque Terre" ></button></td>
                 
             
            </tr>
            </tbody>
          </table></div>
					
				</div>
			</div>
			
    </div>
    
   <div>
 

