<app-nav-bar></app-nav-bar>


    <div class="col-md-10 container">
    	<div class="row">
			<div class="col-md-12">
				<div class="tableWithHeader ">
					<div class="Header">
						<h3 class="panel-title">...</h3>
						
          </div>
          <div class="row">
              <div class="col-md-4">       
               <input [(ngModel)]="filtertext"  type="text" class="form-control" id="filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Name" />

            </div>
            <div class="col-md-4">       
                <input [(ngModel)]="filterposition"  type="text" class="form-control" id="filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Position" />
             </div>
             <div class="col-md-4">       
                <input [(ngModel)]="filterproject"  type="text" class="form-control" id="filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Project" />
                <!-- <select class="form-control" formControlName="role" placeholder="Roles" id="role" >
                    <option value="" selected disabled hidden> All Project </option>
                    <option [(ngModel)]="filterproject"  [value]="p.projectName" *ngFor="let p of projects">{{p.projectName}}</option>
                </select> -->
              </div>
					<div class="panel-body">
              <div class=" input-group mb-3" [class.error]="isNotEmail">
             
            </div>
         
          <div class="table-responsive" id="table">
					<table class="table">
            <thead>
            <tr >
                <th></th>
              <th>Name</th>
              <th>Email</th>
              <th>Project</th>
              
              <th>Position</th>
              <th>Department</th>
              <th>Active/Deactive</th>
            
              <th *ngIf="isAdmin"></th>
             
            </tr></thead>
            <tbody>
            <tr  *ngFor="let i of result | filterPipe: filtertext | filterPipePipe2: filterposition | filterPipePipe3: filterproject  " >
              <td id="zoom3" > <img [src]= "ImageUrl+i.empProfilePicture" id="profilePicture" id="zoom2" height="100em" width="100em" alt="User Icon" class="rounded-circle margin-left ml-2"></td>
              <td>{{i.empName}}</td>
              <td>{{i.empEmail}}</td>
              <td>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{i.projectName}}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"  >
                    <a  *ngFor="let p of projects" class="dropdown-item" (click)="changedetails(i.empEmail,'','',p.prId)"> {{p.projectName}}</a>
                  
                  </div>
                </div>
               </td>           
             
               <td>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{i.empPosition}}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"  >
                    <a  *ngFor="let p of position" class="dropdown-item" (click)="changedetails(i.empEmail,p.positionId,'','')"> {{p.positionName}}</a>
                  
                  </div>
                </div>
               </td>

               <td>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{i.empDepartment}}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"  >
                    <a  *ngFor="let d of departments" class="dropdown-item" (click)="changedetails(i.empEmail,'',d.dprtId,'')"> {{d.dprtName}}</a>
                  
                  </div>
                </div>
               </td>
               <td id="btn" *ngIf="(i.isActive)&&(Loading!=i.empEmail)" id="zoom3" ><button type="button" id="delete" class="btn btn-secondary " (click)=statechange(i.empEmail,0)>For Deactive</button></td>
               <td id="btn" *ngIf="!(i.isActive)&&(Loading!=i.empEmail)" id="zoom3" ><button type="button" id="delete" class="btn btn-secondary" (click)=statechange(i.empEmail,1)>For Active</button></td>
               <td id="btn" *ngIf="(Loading==i.empEmail)"><div ><img id="loadImage" style=" width : 25px;" class="card-img-top" src="assets/loading1.gif" alt="Cinque Terre" ></div>
       
              
              <td id="zoom3" ><button type="button" id="details" class="btn  btn-default" (click)=detailsemployee(i.empId)><img id="loadImage" style=" width : 15px;" class="card-img-top" src="assets/details.png" alt="Cinque Terre" ></button></td>
                    <td id="btn" id="zoom3" ><button type="button" id="update" class="btn  btn-success" (click)=updateEmployee(i.empId)><img id="loadImage" style=" width : 15px;" class="card-img-top" src="assets/edit.png" alt="Cinque Terre" ></button></td>
                   
             
            </tr>
            </tbody>
          </table></div>
					
				</div>
			</div>
			
    </div>
    
   <div>
 

