/* img {width: 100px;}
section #formA{
    background: rgb(212, 212, 211); 
    background: -webkit-linear-gradient(to bottom, rgb(136, 135, 134),rgb(212, 212, 211)); 
    background: linear-gradient(to bottom, rgb(136, 135, 134),rgb(212, 212, 211)); 
   
}
section h2{
    color: white;
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
}

section h3{
    color: rgba(185, 7, 7);
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#sideA{
    background-color: rgba(185, 7, 7, 0.8);
}
em{
    color: red;
} */
 #back{
    background-color: rgb(176, 14, 35);
      height: 50%;
  } 

  

  /* @import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
* {
  box-sizing: border-box;
} */










/*newwwwwwwwwwwwwwwwwwww*/
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

.profile{
  border-radius: 100%;
  
}
.icon{
  border-radius: 100%

}  

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); /* Account for horizontal padding on navbar */
  }
}






.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: rgba(255, 255, 255, .5); }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { 
  line-height: 1; }

  .cntent ,{
 margin-inline-start: 10%;
margin-top: 05%; 
padding-left: 5%}
td{
  padding: 5%;
  width: auto
}

.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }




