<app-nav-bar></app-nav-bar>
<section id="team" class="pb-5">
    <div class="container">
       
        <div class="row">



            <div *ngFor="let e of event" class="col-md-4 col-lg-4 col-sm-6">

                <div (click)=moredetail(e.id) class="card-deck container">

                    <div class="card container" id="zoom2">
                        <img class="card-img-top" [src]="ImageUrl+e.eventImageUrl"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{e.eventTitle}}</h5>
                            <p> {{e.startDate|date}}</p>
                            <p> {{e.destination}}</p>
                            <!-- <button id="btn" class="btn "  (click)=moredetail(e.id)>moredetail</button> -->
                            <br>
                            <p id="crateAccountlink"  class="underlineHover" (click)=Upgradeevent(e.id)>update</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>