<app-nav-bar></app-nav-bar>

<div id="background"  >
    <div id="backgroundIN" >

<section id="team" class="pb-5">
    <div class="col-lg-10 col-sm-12 container">
        <br><br>
       <h1 id="topic">PREVIOUS EVENTS</h1><br><br>
        <div class="row">



            <div *ngFor="let e of event" class="col-md-4 col-lg-4 col-sm-6">

                <div (click)=moredetail(e.id) class="card-deck container">

                    <div class="card container" id="zoom2">
                        <img style="width:100%" class="card-img-top" [src]="ImageUrl+e.eventImageUrl"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{e.eventTitle}}</h5>
                            <p> {{e.startDate|date}}</p>
                            <p *ngIf="e.destination!='null'"> {{e.destination}}</p>
                            <p *ngIf="e.venue!='null'"> {{e.venue}}</p>
                            <!-- <button id="btn" class="btn "  (click)=moredetail(e.id)>moredetail</button> -->
                            <br>
                            <p id="crateAccountlink"  class="underlineHover" *ngIf="this.IsAdmin || this.IsRC" (click)=Upgradeevent(e.id)>update</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</div>
</div>