<app-nav-bar></app-nav-bar>
<section id="team" class="pb-5">
    <div class="container">
       
        <div class="row">



            <div *ngFor="let e of event">

                <div (click)=moredetail(e.id) class="card-deck">

                    <div class="card">
                        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBK3FmyjIENz16NWEl1iJcIWj8I5n8hs-rl5JPixzw-XppNfKx"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{e.eventName}}</h5>
                            <a id="btn" [class.click]="(ClickId==e.id)" (click)=moredetail(e.id)>moredetail</a>
                            <br>
                            <a id="btn" [class.click]="(ClickId==e.id)" (click)=Upgradeevent(e.id)>Upgrade</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>