
  <div class="card w-100" *ngIf="event" >
    <div class="card-body">
      <h1 class="card-title">{{event.eventTitle}}</h1>
      <hr>
      <h3>{{event.startDate|date}}</h3>
  
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <img class="card-img-top" [src]="ImageUrl+event.eventImageUrl" class="card w-100" alt="Card image cap">

        </div>
        <div class="col-sm-12 col-md-6">
          <div class="card-text">
            <h3 *ngIf="event.venue!='null'">{{event.venue}}</h3> <h3 *ngIf="event.destination!='null'">{{event.destination}}  </h3> 
             
          <p class="card-text"> {{event.eventDescription}} </p>
          <h5 *ngIf="event.endDate">End on:{{event.endDate|date}}</h5>
          <br>
          <button id="" *ngIf="event.eventTypeId==1" class="btn"  (click)="TeamView(event.id)">Team View</button></div>
          
        </div>
        

        <div class="col-sm-12 col-md-10">
          <br>
            <a (click)=gotoEventImages(event.id) class="btn" id="btn">Gallery</a>
            <br><br>
            <h4 class="border-bottom border-gray">Tasks of {{event.eventTitle}}</h4>

          <div class="my-3 p-3 bg-white rounded box-shadow" *ngFor="let res of task">
            
            <div class="media text-muted pt-3">
              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">{{res.taskName}}</strong>
               budget cost:  {{res.budgetedCost | currency:'Rs'}}<br>
                {{res.description}}
               </p>
              <!-- <button type="button" class="btn btn-link" (click)="open(content,res.taskId)">Add Details</button> -->
            </div>
          
          </div>
        </div>

      </div>
  
      
     
    </div>
  </div>