<!-- 
  <div class="col-1">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-bars" aria-hidden="true">Menu</i>

        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">

          <a class="dropdown-item"  (click)=gotoEventImages(event.id)>Images Gallery</a>

          <a class="dropdown-item" href="pastevent/uploadpastevent">Create Past Event</a>
          <a class="dropdown-item" href="pastevent/budget">More Details</a>
        </div>
      </div>
    </div>
  </div> -->
  <div class="card w-100"  >
    <div class="card-body">
      <h1 class="card-title">{{event.eventTitle}}</h1>
      <h3>{{event.startDate|date}}</h3>
  
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <img class="card-img-top" [src]="ImageUrl+event.eventImageUrl" class="card w-100" alt="Card image cap">

        </div>
        <div class="col-sm-12 col-md-6">
          <p class="card-text">{{event.venue}}</p>
          <h3>{{event.endDate|date}}</h3>
          <p class="card-text"> {{event.eventDescription}} </p>
        </div>

        <h3 class="border-bottom border-gray">Tasks of {{event.eventTitle}}</h3>
        <div class="col-sm-12 col-md-10">
          <div class="my-3 p-3 bg-white rounded box-shadow" *ngFor="let res of task">
            
            <div class="media text-muted pt-3">
              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">{{res.taskName}}</strong>
               budget cost:  {{res.budgetedCost | currency:'Rs'}}<br>
                {{res.description}}
               </p>
              <!-- <button type="button" class="btn btn-link" (click)="open(content,res.taskId)">Add Details</button> -->
            </div>
          
          </div>
        </div>

      </div>
  
      
     
      <a (click)=gotoEventImages(event.id) class="btn" id="btn">Gallery</a>
    </div>
  </div>