<app-nav-bar></app-nav-bar>

<div class="container" >
    <p class="media-body pb-3 mb-0 lh-125">
        <strong class="d-block text-black-dark ">{{event.eventTitle}}
          <img [src]="ImageUrl+event.eventImageUrl" width="200" height="200" class="rounded-circle margin-left ml-2">
        </strong>
        {{event.startDate |date}}
        {{event.venue}}
    </p>   
   
    <hr style="border-top: 1px dotted rgb(197, 175, 175);">
    <div class=" col-md-10 container">
      <div >
 
        <div >
          <h1>Registered Teams...</h1>
        </div>

        <!-- <h5 class="card-title"> <h3 id="msg">{{Message}}</h3></h5> -->
        <div class="row">
        <div *ngFor="let team of teams;" id="card" class=" col-lg-4 col-md-6 col-sm-10">
       
            <div class="card col-12">
                <div class="card-body">
                  
                  <h5 class="card-title">{{team.teamName}}</h5>
                  <p>register date:{{team.registerdate|date}}</p>
                  <h6 class="card-subtitle mb-2 text-muted">Captain:{{team.capatain}}</h6>
                  <p class="card-text">{{team.description}}</p>
                  <div *ngFor="let t of team.employeeNames;">
                    <p> member: {{t}}</p>
                  </div>
                  <p>vegitarian Count: {{team.vegeCount}}</p>
                  <p>liquor Count: {{team.liquorCount}}</p>

                </div>
              </div>
            
            </div>
          </div>
     
      </div>
    </div>
</div>

