<app-nav-bar></app-nav-bar>
<div id="background"  >
        <div id="backgroundIN" >
<div class="wrapper  col-md-8 container" >
        
  
    <div id="formContent" class="col-md-10">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div >
        <h1>Select Fields</h1>
      </div>
      <h5 class="card-title"> <h3 id="msg">{{Message}}</h3></h5>
      <!-- Sign up Form -->
      <form [formGroup]="EventForm" autocomplete="off" novalidate (ngSubmit)="createrole(EventForm.value)">
          
          
 <!--
          <div class="form-group col-md-6">
            
           
            <input type="checkbox" class="form-control" formControlName="StartDate" name="StartDate" id="StartDate" >
          
        </div>
         -->
        <table class="table table-borderless">
            <tr class="form-check">
            <td><input type="checkbox" class="form-check-input" formControlName="EndDate" id="EndDate">End Date of Event</td>
            </tr>
           
            <tr class="form-check">
                <td><input type="checkbox" class="form-check-input" formControlName="ClosingDate" id="ClosingDate">Closing Date for Registration</td>
                </tr>

            <tr class="form-check">
            <td><input type="checkbox" class="form-check-input" formControlName="Destination" id="Destination">Destination</td>
            </tr>

            <tr class="form-check">
                <td><input type="checkbox" class="form-check-input" formControlName="Liquor" id="Liquor">Whether Liquor is Allowed</td>
                </tr>

            <tr class="form-check ">
                <td><input type="checkbox" class="form-check-input " formControlName="IsFamilyMembersAllowed" id="IsFamilyMembersAllowed">Whether Family Members Allowed</td>
                </tr>
        
                <tr class="form-check">
                    <td><input type="checkbox" class="form-check-input" formControlName="Venue" id="Venue">Venue</td>
                    </tr>

                    <tr class="form-check">
                        <td><input type="checkbox" class="form-check-input" formControlName="NumberOfTeams" id="NumberOfTeams">Number of Teams</td>
                        </tr>

                        <tr class="form-check">
                                <td><input type="checkbox" class="form-check-input" formControlName="budgetedCost" id="budgetedCost">Budgeted Cost of Event</td>
                                </tr>
                
                            <tr class="form-check ">
                                <td><input type="checkbox" class="form-check-input " formControlName="actualCost" id="actualCost">Actual Cost of Event</td>
                                </tr>
                        
                                <tr class="form-check">
                                    <td><input type="checkbox" class="form-check-input" formControlName="mainOrganiZer" id="mainOrganiZer">Main OrganiZer of Event</td>
                                    </tr>
                
                                    <tr class="form-check">
                                        <td><input type="checkbox" class="form-check-input" formControlName="summary" id="summary">Summary of Event</td>
                                        </tr>
    
                                       
        </table>  

        
          <div class="btn-group" role="group" aria-label="Basic example">
          <!-- <button type="button" class="btn btn-danger" (click)="redirectToOwnerList()">Cancel</button> -->
          <button type="submit" class="btn btn-success" [disabled]="!EventForm.valid">Add Attributes</button>
          
      </div> 
      </form>
          <!-- <div class="copy-text">For Create new account? <i class="fa fa-heart"></i><a id="crateAccountlink"  (click)="crateAccount()"> Create</a></div> -->
          
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a  id="crateAccountlink"  class="underlineHover" ></a>
       
      </div>
  
    </div>
  


  </div>
</div>
</div>



