
<app-nav-bar></app-nav-bar>

<!-- 
<li class="nav-item">
  <div class="row">
    <div class="col-1">
 
    </div>
   
    <div class="col-10"></div>
    <div class="col-1">
      <div  class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="pastevent/imageview/3"> Blood Donation</a>

            

            <a class="dropdown-item" href="pastevent/imageview/2"> Cricket Match</a>
            <a class="dropdown-item" href="pastevent/imageview/3"> Annual trip</a>
            <a class="dropdown-item" href="pastevent/budget">Budget</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</li> -->



<div class="card w-90">
  <div class="card-body">
    <h2 class="card-title">{{eevent.eventTitle}}</h2>
    
    <a  (click)=gotoimageupload(eventId)><img src="assets/_image/uploadimage.png" width="50" height="50" class="rounded-circle margin-left ml-2"></a>  
   
    <div class="row">
      <div class="col-sm-12 col-md-9">
        <section class="no-touch">
          <div class="wrap">
            <div *ngFor="let i of result">
                
              <div class="box" (click)="open(image)">   
                    <ng-template #image id="x">
                      <div class="modal-header"></div>
                      <div class="modal-body">
                          <img id="zoom2"  class="card w-200" [src]="ImageUrl+i.imageId"   alt="Cinque Terre">
                      </div>
                      <div class="modal-footer"></div>
                      </ng-template>

                <div class="boxInner" >
                  <img id="zoom2"  class="images card w-100" [src]="ImageUrl+i.imageId"   alt="Cinque Terre">
                   <a id="author"> {{i.author}} </a>
                   
                  <div  class="titleBox"><button (click)=deleteimage(i.imageId)><img src="assets/delete.png" width="25" height="25" class="rounded-circle margin-left ml-2"> </button> </div>
                </div>
              </div>
            </div>
           </div>
        </section>
      </div>
      <div class="col-sm-12 col-md-3">
        <app-comment></app-comment>
      </div>
    </div>
  </div>
</div>







