
<app-nav-bar></app-nav-bar>

<!-- 
<li class="nav-item">
  <div class="row">
    <div class="col-1">
 
    </div>
   
    <div class="col-10"></div>
    <div class="col-1">
      <div  class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="pastevent/imageview/3"> Blood Donation</a>

            

            <a class="dropdown-item" href="pastevent/imageview/2"> Cricket Match</a>
            <a class="dropdown-item" href="pastevent/imageview/3"> Annual trip</a>
            <a class="dropdown-item" href="pastevent/budget">Budget</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</li> -->

<section class="no-touch">
  <div class="wrap">
    <div *ngFor="let i of result">
      <div class="box">
        <div class="boxInner">
          <img class="images" [src]="ImageUrl+i.imageId" alt="Cinque Terre">
          <div class="titleBox">Winding garden path</div>
        </div>
      </div>
    </div>
   </div>
</section>


