<div class="card" style="width: 25rem;">
  <div class="card-body">
    <h3 class="card-title">Create Department</h3>
    <h6 class="card-subtitle mb-2 text-muted">
      <h6 id="msg">{{Message}}</h6>
    </h6>
    <form [formGroup]="departmentForm" autocomplete="off" novalidate (ngSubmit)="createdepartment(departmentForm.value)">
      <div class="form-group col-md-12">
        <label for="email" class="sr-only">DepartmentId</label>
        <input class="form-control" formControlName="departmentId" id="departmentId" required>
        <label> Department Id</label>

      </div>
      <div class="form-group col-md-12">
        <label for="key" class="sr-only">Password</label>
        <input type="text" formControlName="departmentName" id="departmentName" class="form-control" required>
        <label> Department Name</label>

      </div>
      <div class="btn-group" role="group" aria-label="Basic example">

        <button type="submit" id="btn" class="btn btn-success" [disabled]="!departmentForm.valid">Create</button>

      </div>
    </form>
  </div>
</div>