#all{
    margin-left: 250px
}



#head{
   
    color: rgb(38, 53, 45);
    font-family: 'Times New Roman'
}


em{
    color: rgb(199, 87, 87);
}


  .ng-invalid:not(form)  {
    /*border-left: 10px solid #a94442; red */
    background-color: #ceb9b9;
  }
  .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    overflow: hidden;
}