<app-header2></app-header2>

<body>

    <br/><br/>
    <div id="all">

        <div class="row">
            <div class="col-md-5"></div>
      <div id="head">
    <h3>Add Event Details</h3>
    </div>
</div>
    <br/><br/>
    


    <div class="card text-center"  style="width: 58rem;">
           
            <div class="card-body">
                <div class="row">
                <div class="col-md-1"></div>
                    <div class="col-md-8 py-5 border" id="newForm">
    
                            <form [formGroup]="eventForm" autocomplete="off" novalidate (ngSubmit)="createEvent(eventForm.value)">
                         
                               <div class="form-row">
                                   <div class="form-group col-md-12">
                                     <label>Event Title</label>
                                     <input  placeholder="" class="form-control" type="text" formControlName="eventTitle" id="eventTitle">
                                     <em *ngIf="validateControl('eventTitle') && hasError('eventTitle', 'required')">Event name is required</em>
                                     </div>
                               </div>
                         
                               <div class="form-row">
                                   <div class="form-group col-md-12">
                                      <label>Event Description</label>
                                     <textarea  placeholder="Add all necessary details of the event. These details will be dispaly to employees" class="form-control" formControlName="eventDescription" id="eventDescription" ></textarea>
                                     <em *ngIf="validateControl('eventDescription') && hasError('eventDescription', 'required')">Event description is required</em>
                                     </div>
                           </div>
                    
                           
                             
                         
                           <div class="form-row">
                                       <div class="form-group col-md-12">
                                          <label>Destination or Venue</label>
                                         <input  placeholder="" class="form-control" type="text" formControlName="destination" id="destination">
                                         <em *ngIf="validateControl('destination') && hasError('destination', 'required')">Destination is required</em>
                                         </div>
                           </div>
                         
                           <div class="form-row">
                                           <div class="form-group col-md-12">
                                              <label>Start Date</label>
                                             <input  placeholder="" class="form-control" type="date" formControlName="startDate" id="startDate">
                                             <em *ngIf="validateControl('startDate') && hasError('startDate', 'required')">Start date is required</em>
                                         </div>    
                           </div>
                         
                           <div class="form-row">
                               <div class="form-group col-md-12">
                                  <label>End Date</label>
                                 <input  placeholder="" class="form-control" type="date" formControlName="endDate" id="endDate">
                                 <em *ngIf="validateControl('endDate') && hasError('endDate', 'required')">End date is required</em>
                                 </div>
                           </div>
                    
                           <div class="form-row">
                                <div class="form-group col-md-12">
                            <label for="url">Select Event Type</label>
                            <select class="form-control" id="type" formControlName="type">
                              <option *ngFor="let contry of eventTypes" [value]="contry.id">{{contry.name}}</option>
                            </select>
                            </div>
                          </div>
                          
                          <div class="form-row">
                                <div class="form-group col-md-12">
                                   <label>Closing Date For Registration</label>
                                  <input  placeholder="" class="form-control" type="date" formControlName="closingDate" id="closingDate">
                                  <em *ngIf="validateControl('endDate') && hasError('endDate', 'required')">Closing date is required</em>
                                  </div>
                            </div>
                           
                        <!--
                           <div class="form-row">
                              <div class="form-group col-md-12">
                                 <label>Year</label>
                                <input  placeholder="" class="form-control" type="string" formControlName="year" id="year">
                                <em *ngIf="validateControl('year') && hasError('year', 'required')">year is required</em>
                                </div>
                          </div>
                        
                          
                         
                           <div class="form-row">
                           <input 
                                   style="display: none" 
                                         type="file" (change)="onFileChanged($event)" 
                                       #fileInput>
                           <button (click)="fileInput.click()">Select File</button>
                           </div>-->
                           <div class="form-row">
                              <div class="form-group">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-danger" (click)="redirectToOwnerList()" style="margin-left: 5px">Cancel</button>
                                            <button type="submit" class="btn btn-success" [disabled]="!eventForm.valid" style="margin-left: 25px">Create Event</button>
                                        </div>
                                    </div>
                          </div>          
                         
                             </form>
                        </div>
                    
              
            </div></div>
           </div>



        



   
   









    <br/><br/>
    <p>
            {{msg}}
        </p>
    </div>

   
  
     </body>
