<app-logged-header></app-logged-header>

<div class="container">
    
    	<div class="row">
			<div class="col-md-12">
				<div class="tableWithHeader ">
					<div class="Header">
						<h3 class="panel-title">..All Employee Details..</h3>
						
					</div>
					<div class="panel-body">
              <div class=" input-group mb-3" [class.error]="isNotEmail">
                  <div class="input-group-prepend">
                  <label (click)=filterInput() class="input-group-text" for="filter">Search.. </label>
                  </div>
						<input *ngIf="toggle" [(ngModel)]="filtertext"  type="text" class="form-control" id="filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
             
          
          <div class="table-responsive" id="table">
					<table class="table table-hover">
            <thead>
            <tr >
                <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Address</th>
              <th>Position</th>
              <th></th>
              <th></th>
              <th *ngIf="isAdmin"></th>
             
            </tr></thead>
            <tbody>
            <tr *ngFor="let i of result | filterPipe: filtertext" >
              <td >{{i.empId}}</td>
              <td>{{i.empName}}</td>
              <td>{{i.empEmail}}</td>
              <td>{{i.empAddress1}} {{i.empAddress2}}</td>
              <td>{{i.empPosition}}</td>
              <td><button type="button" id="details" class="btn  btn-default" (click)=detailsemployee(i.empId)>Details</button></td>
                    <td><button type="button" id="update" class="btn  btn-success" (click)=updateEmployee(i.empId)>Update</button></td>
                    <td *ngIf="isAdmin"><button type="button" id="delete" class="btn  btn-danger" (click)=deActiveEmployee(i.empId)>Delete</button></td>
                 
             
            </tr>
            </tbody>
          </table></div>
					
				</div>
			</div>
			
    </div>
    
   
  
