.row{
    margin-top:40px;
    padding: 0 10px;
}
.clickable{
    cursor: pointer;   
}

.panel-body{
    display: hide;
}
.tableWithHeader{
    background: rgb(212, 212, 211);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgb(136, 135, 134),rgb(212, 212, 211));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgb(136, 135, 134),rgb(212, 212, 211)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
   
   
    
    padding: 10px;
}
#table thead{
    background-color: rgb(29, 29, 29);
    color: aliceblue;
}
#table tbody tr{
    background: rgb(212, 212, 211);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgb(136, 135, 134),rgb(212, 212, 211));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgb(136, 135, 134),rgb(212, 212, 211)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
   
}
.Header h3{
    text-align: center;
    color: brown;
}