<div class="container">
    <br>
      <h2>Details Of Match</h2>
    <br>
    <div class="row">

        <div class="col-2"></div>
            <div class="col-8">
                <p id="name"><b> Name : </b> <!--{{result. }}--></p>
            </div>
        <div class="col-2"></div>

        <div class="col-2"></div>
        <div class="col-8">
            <p id="idNo"><b> Id No : </b> <!--{{result. }}--></p>
        </div>
        <div class="col-2"></div>

    </div> 

    <button type="button" id="update" <!--(click)="updateteam(team.teamId)"-->><img src="assets/edit.png"></button>
    <button type="button" id="delete" <!--(click)=deleteteam(i.empId)-->><img src="assets/delete.png"></button>
     
</div>
