<app-nav-bar></app-nav-bar>
  
 <br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      
          <div class=" col-md-12 container">
              <div ><h2>Team Schedules...</h2></div>
          </div>
              
    <!--start card part 1 -->
    <div>
        <hr style="border-top: 1px dotted rgb(197, 175, 175);">
        <div class="container">
           <div ><h4>First Round Match</h4></div>
        </div>
        <div class="row">
          <div id="card" class="col-lg-12 col-md-8 col-sm-4" >
              
            <div class="card-group">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Group A</h5>
                    <hr>
                    <p class="card-text">Team name :<!--{{}}--> </p>
                    <p class="card-text">Team name :<!--{{}}--> </p>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Group B</h5>
                    <hr>
                    <p class="card-text">Team name :<!--{{}}--> </p>
                    <p class="card-text">Team name :<!--{{}}--> </p>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Group C</h5>
                    <hr>
                    <p class="card-text">Team name :<!--{{}}--> </p>
                    <p class="card-text">Team name :<!--{{}}--> </p>
                  </div>
                </div>
                <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Group D</h5>
                  <hr>
                  <p class="card-text">Team name :<!--{{}}--> </p>
                  <p class="card-text">Team name :<!--{{}}--> </p>
                </div>
                </div>
            </div>
    
            <div class="card-group">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Group E</h5>
                  <hr>
                  <p class="card-text">Team name :<!--{{}}--> </p>
                  <p class="card-text">Team name :<!--{{}}--> </p>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Group F</h5>
                  <hr>
                  <p class="card-text">Team name :<!--{{}}--> </p>
                  <p class="card-text">Team name :<!--{{}}--> </p>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Group G</h5>
                  <hr>
                  <p class="card-text">Team name :<!--{{}}--> </p>
                  <p class="card-text">Team name :<!--{{}}--> </p>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Group H</h5>
                  <hr>
                  <p class="card-text">Team name :<!--{{}}--> </p>
                  <p class="card-text">Team name :<!--{{}}--> </p>
                </div>
              </div>
            </div>
                      
          </div>
        </div>
    </div>

    <!-- end card part -->

        <!--start card part 2 -->
    <div>
          <hr style="border-top: 1px dotted rgb(197, 175, 175);">
          <div class="container">
           <div ><h4>Second Round Match</h4></div>
          </div>
          <div class="row">
          <div id="card" class="col-lg-12 col-md-8 col-sm-4">
    
                 
            <div class="card-group">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">First Match</h5>
                    <hr>
                    <p class="card-text">Group A Winner</p>
                    <p class="card-text">Group B Winner</p>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Second Match</h5>
                    <hr>
                    <p class="card-text">Group C Winner</p>
                    <p class="card-text">Group D Winner</p>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Third Match</h5>
                    <hr>
                    <p class="card-text">Group E Winner</p>
                    <p class="card-text">Group F Winner</p>
                  </div>
                </div>
                <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Fourth Match</h5>
                  <hr>
                  <p class="card-text">Group G Winner</p>
                  <p class="card-text">Group H Winner</p>
                </div>
                </div>
            </div>
                      
          </div>
          </div>
    </div>
        <!-- end card part -->
  
  </div>    
  <div class="col-md-1"></div>
</div>