.h4{
    text-decoration-color: blueviolet;
    
}
body { 
    background-color: rgb(235, 204, 65);
    text-align: right;
    border: 50px;
    border-left-width: 50px;
    
}
body { 
    background-color: transparent;
}