<app-nav-bar></app-nav-bar>
<div id="background"  >
    <div id="backgroundIN" >

<div  class=" col-md-10 container">

    <div>
        <br>
        <h3 >Email that was sent for captains...</h3>
    </div>
    <br>

    <div class="card text-center" *ngIf="!details" >
        <div class="card-header">  
        </div>
        <div class="card-body">
          <h5 class="card-title">Add Email for Captains</h5>
          <p class="card-text">There are no email send to captains...</p>
          <button type="button" class="btn" id="btn" (click)="composeMail()">Compose Mail</button>      
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>    




    <div *ngIf="details"  >
            <button type="button" class="btn" id="btn" (click)="composeMail()">Compose Mail</button>      
            <br><br>
    <!-- Start send email -->
    <div class="row">

        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-title"><u>{{details.topic}}.</u></h5>
                <hr>
                <p class="card-text" class="date">{{details.senderdate | date }}</p>
                <p>Dear Captain, </p>
                <p class="card-text">{{details.description1}}</p>
                <p class="card-text">{{details.description2}}</p>
                <p class="card-text">{{details.description3}}</p>
                <p>Thank You.</p>
                <br>
                <p>{{details.sendername}},</p>
                <p>Rc committee Member.</p>
            </div>
        </div>
    </div>
    <!-- End send email -->
    </div>
</div>


</div>
</div>

