

<div class="container">
    
    	<div class="row">
			<div class="col-md-12">
				<div class="tableWithHeader ">
					<div class="Header">
						<h3 class="panel-title">Positions 
            </h3>
						
					</div>
					
          <div class="table-responsive" id="table">
					<table class="table table-hover">
            <thead>
            <tr >
                <th>Position Id</th>
              <th>Position Name</th>
              <th>Position Discription</th>
              <th> Update</th>
              <th></th>
              <th *ngIf="isAdmin"></th>
             
            </tr></thead>
            <tbody>
            <tr *ngFor="let i of roles;">
              <td>{{i.positionId}}</td>
              <td>{{i.positionName}}</td>
              <td>{{i.positionDis}}</td>
              
                 <td><button type="button" id="update" class="btn btn-success" (click)=updateRoles(i.positionId)><img id="loadImage" style=" width : 25px;" class="card-img-top" src="assets/details.png" alt="Cinque Terre" ></button> </td>
                    <td *ngIf="isAdmin"><button type="button" id="delete" class="btn btn-danger" (click)=deleteEmployee(i.empId)>Delete</button></td>
                 
                    <td  *ngIf="(i.isActive)&&(Loading!=i.positionId)" ><button id="btn" type="button" id="delete" class="btn" (click)=DeActive(i.positionId)>Deactive</button></td>
                    <td  *ngIf="!(i.isActive)&&(Loading!=i.positionId)"><button id="btn" type="button" id="delete" class="btn" (click)=Active(i.positionId)>Active</button></td>
                    <td *ngIf="(Loading==i.positionId)"><div ><img id="loadImage" style=" width : 25px;" class="card-img-top" src="assets/loading1.gif" alt="Cinque Terre" ></div>
                     </td>  
             
            </tr>
            </tbody>
          </table></div>
					
				</div>
			</div>
			
		</div>
	</div>
  <div class="container">
    
    <!-- Trigger the modal with a button -->
   
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
           
          </div>
          <div class="modal-body">
            <app-role-create></app-role-create>
          </div>
       
        </div>
        
      </div>
    </div>
    
  </div>
  