
<app-header1></app-header1>
<!-- <app-logged-header></app-logged-header> -->

<div class="fff">
  <li class="nav-item">

    <a class="nav-link" href="pastevent/imageview/2"> <button  class="btn" class="btn btn-outline-success">Image Gallery</button></a>

  </li>
  <div class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
          

          <!-- <form [formGroup]="imageuploadForm" autocomplete="off" novalidate (ngSubmit)="OnSubmit(imageuploadForm.value)">
              <img [src]="ImageUrl" style="width:250px;height:200px">
              <div class="input-field col s12">
    
                <div class="form-group">
                  <label for="text" class="sr-only">EventId</label>
                  <input class="form-control" formControlName="EventId" id="EventId" placeholder="Event Id">
                </div>
                <div class="form-group">
                  <label for="text" class="sr-only">EventtypeId</label>
                  <input class="form-control" formControlName="EventtypeId" id="EventtypeId" placeholder="Event type Id">
                </div>
                <div class="form-group">
                  <label for="key" class="sr-only">Caption</label>
                  <input type="text" formControlName="Caption" id="Caption" class="form-control" placeholder=" Caption">
                </div>
                <div class="form-group">
                  <label for="key" class="sr-only">Description</label>
                  <input type="text" formControlName="Description" id="Description" class="form-control" placeholder=" Description">
                </div>
              </div>
              <div class="form-group">
                <input type="file" formControlName="Image" #Image accept="image/*" (change)="onFileChange($event.target.files)">
    
              </div>
              <div class=" form-group">
                <button type="submit" class="btn-large btn-submit" class="btn btn-outline-success" [disabled]="!imageuploadForm.valid">submit</button>
    
              </div>
            </form> -->
            <div class="card" style="width: 25rem;">
              
              <div class="card-body">

                  <form [formGroup]="imageuploadForm" autocomplete="off" novalidate (ngSubmit)="OnSubmit(imageuploadForm.value)">
                      <img [src]="ImageUrl" style="width:250px;height:200px">
                      <div class="input-field col s12">
            
                        <div class="form-group">
                          <label for="text" class="sr-only">EventId</label>
                          <input class="form-control" formControlName="EventId" id="EventId" placeholder="Event Id">
                        </div>
                        <div class="form-group">
                          <label for="text" class="sr-only">EventtypeId</label>
                          <input class="form-control" formControlName="EventtypeId" id="EventtypeId" placeholder="Event type Id">
                        </div>
                        <div class="form-group">
                          <label for="key" class="sr-only">Caption</label>
                          <input type="text" formControlName="Caption" id="Caption" class="form-control" placeholder=" Caption">
                        </div>
                        <div class="form-group">
                          <label for="key" class="sr-only">Description</label>
                          <input type="text" formControlName="Description" id="Description" class="form-control" placeholder=" Description">
                        </div>
                      </div>
                      <div class="form-group">
                        <input class="inputfile" type="file" formControlName="Image" #Image accept="image/*" (change)="onFileChange($event.target.files)">
            
                      </div>
                      <div class=" form-group">
                        <button type="submit" class="btn"  [disabled]="!imageuploadForm.valid">submit</button>
            
                      </div>
                    </form>

                 </div>
            </div>
      </div>
      <div class="col-4"></div>

    </div>
  </div>

  <!-- <div class="Container" class="bbody" class=".col-md-1">
    <div class="row">
      <div class="col s8 offset-2">
        <div class="card-panel teal lighten-2">
          <h4 class="centre white-text">Image Upload Portal</h4>
        </div>
        <form [formGroup]="imageuploadForm" autocomplete="off" novalidate (ngSubmit)="OnSubmit(imageuploadForm.value)">
          <img [src]="ImageUrl" style="width:250px;height:200px">
          <div class="input-field col s12">

            <div class="form-group">
              <label for="text" class="sr-only">EventId</label>
              <input class="form-control" formControlName="EventId" id="EventId" placeholder="Event Id">
            </div>

            <div class="form-group">
              <label for="key" class="sr-only">Caption</label>
              <input type="text" formControlName="Caption" id="Caption" class="form-control" placeholder=" Caption">
            </div>

            <div class="form-group">
              <label for="key" class="sr-only">Description</label>
              <input type="text" formControlName="Description" id="Description" class="form-control" placeholder=" Description">
            </div>
          </div>
          <div class="form-group">
            <input type="file" formControlName="Image" #Image accept="image/*" (change)="onFileChange($event.target.files)">

          </div>
          <div class=" form-group">
            <button type="submit" class="btn-large btn-submit" class="btn btn-outline-success" [disabled]="!imageuploadForm.valid">submit</button>

          </div>
        </form>
      </div>

    </div>


  </div>
  <div class=".col-sm-5">
  </div>
</div>> -->