<app-nav-bar></app-nav-bar>

<div id="part0" >
    <h1 id="mainH" >Creative <br>Events </h1>
    
    </div>

    <div id="part1" >
  
        <h1 id="head" class=" container" >UPCOMMING EVENTS</h1> <button *ngIf="IsAdmin||IsRC" type="button" id="addbutton"  class="btn link" (click)="onClick()">Add New Event </button>
  
          <!-- <div id="cardDesk" class="card-deck"class="col-lg-11 col-sm-12 container" >
             
              <div class="row">
                  <div  id="event" class="col-lg-4 col-sm-10" (click)="ViewUpcommingEvent(Upcommming3Event[0].id)">
                    <img class="rounded-circle" [src]="ImageUrl+Upcommming3Event[0].eventImageUrl" alt="Generic placeholder image">
                    <h2>{{Upcommming3Event[0].eventTitle}}</h2>
                    <h5>{{Upcommming3Event[0].startDate |date}}</h5>
                    <p>{{Upcommming3Event[0].eventDescription}}</p>
                    
                    <p><a class="btn btn-secondary" routerLink="/events/vieweventpage" role="button" (click)="ViewUpcommingEvent(Upcommming3Event[0].id)">View details &raquo;</a>
                    
                    </p>
                  </div>
      
                  <div  id="event" class="col-lg-4 col-sm-10" (click)="ViewUpcommingEvent(Upcommming3Event[1].id)">
                    <img class="rounded-circle" [src]="ImageUrl+Upcommming3Event[1].eventImageUrl"alt="Generic placeholder image" >
                  <h2>{{Upcommming3Event[1].eventTitle}}</h2>
                  <h5>{{Upcommming3Event[1].startDate|date}}</h5>
                    <p>{{Upcommming3Event[1].eventDescription}}</p>
                     <p><a id="viewmore" class="btn btn-secondary" routerLink="/events/vieweventpage" role="button" (click)="ViewUpcommingEvent(Upcommming3Event[1].id)">View details &raquo;</a>
                     
                    </p>
                  </div>
                  <div  id="event" class="col-lg-4 col-sm-10" (click)="ViewUpcommingEvent(Upcommming3Event[2].id)">
                    <img class="rounded-circle" [src]="ImageUrl+Upcommming3Event[2].eventImageUrl" alt="Generic placeholder image">
                    <h2>{{Upcommming3Event[2].eventTitle}}</h2>
                    <h5>{{Upcommming3Event[2].startDate|date}}</h5>
                    <p>{{Upcommming3Event[2].eventDescription}}</p>
                      <p><a class="btn btn-secondary" role="button" (click)="ViewUpcommingEvent(Upcommming3Event[2].id)">View details &raquo;</a>
                     
                    </p>
                  </div>
                  <a  id="txt">More..</a>
                </div>
              
              
              
            </div> -->
          
            <div id="cardDesk" class="card-deck" class="col-lg-11 col-sm-12 container"  >
               
                
                
                <div class="row">
                        <div *ngIf="Upcommming3Event[0].id"  id="event" class="col-lg-4 col-sm-10" (click)="ViewUpcommingEvent(Upcommming3Event[0].id)">
                                <img class="rounded-circle" [src]="ImageUrl+Upcommming3Event[0].eventImageUrl" alt="Generic placeholder image">
                                <h2>{{Upcommming3Event[0].eventTitle}}</h2>
                                <h5>{{Upcommming3Event[0].startDate |date}}</h5>
                                <p>{{Upcommming3Event[0].eventDescription}}</p>
                                
                                <p><a class="btn btn-secondary" routerLink="/events/vieweventpage" role="button" (click)="ViewUpcommingEvent(Upcommming3Event[0].id)">View details &raquo;</a>
                                
                                </p>
                              </div>
                 
                              <div *ngIf="Upcommming3Event[1].id"  id="event" class="col-lg-4 col-sm-10" (click)="ViewUpcommingEvent(Upcommming3Event[1].id)">
                                    <img class="rounded-circle" [src]="ImageUrl+Upcommming3Event[1].eventImageUrl"alt="Generic placeholder image" >
                                  <h2>{{Upcommming3Event[1].eventTitle}}</h2>
                                  <h5>{{Upcommming3Event[1].startDate|date}}</h5>
                                    <p>{{Upcommming3Event[1].eventDescription}}</p>
                                     <p><a id="viewmore" class="btn btn-secondary" routerLink="/events/vieweventpage" role="button" (click)="ViewUpcommingEvent(Upcommming3Event[1].id)">View details &raquo;</a>
                                     
                                    </p>
                                  </div>
                    <div *ngIf="Last3Event[2].id" id="event" class="col-lg-4 col-sm-10" (click)="ViewPastEvent(Last3Event[2].id)">
                      <img class="rounded-circle" [src]="ImageUrl+Last3Event[2].eventImageUrl" alt="Generic placeholder image" >
                      <h2>{{Last3Event[2].eventTitle}}</h2>
                      <h5>{{Last3Event[2].startDate |date}}</h5>
                      <p>{{Last3Event[2].eventDescription}}</p>
                         <p><a class="btn btn-secondary" role="button" (click)="ViewPastEvent(Last3Event[2].id)">View details &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                    <a id="txt">More..</a>
                  </div>
                
                
                
              </div>
      
      </div>
      

    <div id="part2">
        <h1 id="head" class=" container" >PREVIOUS EVENTS</h1>
          <div id="cardDesk" class="card-deck" class="col-lg-11 col-sm-12 container"  >
              
              <div class="row">
                  <div *ngIf="Last3Event[0].id" id="event" class="col-lg-4 col-sm-10" (click)="ViewPastEvent(Last3Event[0].id)">
                    <img class="rounded-circle" [src]="ImageUrl+Last3Event[0].eventImageUrl" alt="Generic placeholder image" >
                    <h2>{{Last3Event[0].eventTitle}}</h2>
                    <h5>{{Last3Event[0].startDate |date}}</h5>
                    <p>{{Last3Event[0].eventDescription}}</p> 
                     <p><a class="btn btn-secondary"  role="button" (click)="ViewPastEvent(Last3Event[0].id)">View details &raquo;</a></p>
                  </div><!-- /.col-lg-4 -->
               
                  <div *ngIf="Last3Event[1].id" id="event" class="col-lg-4 col-sm-10" (click)="ViewPastEvent(Last3Event[1].id)">
                    <img class="rounded-circle" [src]="ImageUrl+Last3Event[1].eventImageUrl" alt="Generic placeholder image" >
                  <h2>{{Last3Event[1].eventTitle}}</h2>
                  <h5>{{Last3Event[1].startDate |date}}</h5>
                  <p>{{Last3Event[1].eventDescription}}</p>   
                  <p><a class="btn btn-secondary" (click)="ViewPastEvent(Last3Event[1].id)">View details &raquo;</a></p>
                  </div><!-- /.col-lg-4 -->
                  <div *ngIf="Last3Event[2].id" id="event" class="col-lg-4 col-sm-10" (click)="ViewPastEvent(Last3Event[2].id)">
                    <img class="rounded-circle" [src]="ImageUrl+Last3Event[2].eventImageUrl" alt="Generic placeholder image" >
                    <h2>{{Last3Event[2].eventTitle}}</h2>
                    <h5>{{Last3Event[2].startDate |date}}</h5>
                    <p>{{Last3Event[2].eventDescription}}</p>
                       <p><a class="btn btn-secondary" role="button" (click)="ViewPastEvent(Last3Event[2].id)">View details &raquo;</a></p>
                  </div><!-- /.col-lg-4 -->
                  <a id="txt">More..</a>
                </div>
              
              
              
            </div>
      
      </div>
    
      <div id="part3">
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
              <div class="col-12 col-md">
                <img class="mb-2" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
                <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
              </div>
              <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Cool stuff</a></li>
                  <li><a class="text-muted" href="#">Random feature</a></li>
                  <li><a class="text-muted" href="#">Team feature</a></li>
                  <li><a class="text-muted" href="#">Stuff for developers</a></li>
                  <li><a class="text-muted" href="#">Another one</a></li>
                  <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Resource</a></li>
                  <li><a class="text-muted" href="#">Resource name</a></li>
                  <li><a class="text-muted" href="#">Another resource</a></li>
                  <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Team</a></li>
                  <li><a class="text-muted" href="#">Locations</a></li>
                  <li><a class="text-muted" href="#">Privacy</a></li>
                  <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
              </div>
            </div>
          </footer>
        
    </div>