<div class="container">
    <br>
      <h2>Cricket match details add form</h2>
    <br>
      <form [formGroup]="detailsAddForm" autocomplete="off" novalidate (ngSubmit)="detailsAddData(detailsAddForm.value)">
  
        <div class="form-group row">
            <label for="inputYear" class="col-3 col-form-label" >Add Year :</label>
            <div class="col-9">
                <input formControlName="addyear" class="form-control" type="text" placeholder="Year" id="inputYear" >
                <em *ngIf="validateControl('addyear') && hasError('addyear', 'required')">*Year is required</em>
            </div>
        </div>
 
        <div class="form-group row">
            <label for="inputWinner" class="col-3 col-form-label" >Wenner Team :</label>
            <div class="col-9">
                <input formControlName="addwinner" class="form-control" type="text" placeholder="Winner" id="inputWinner" >
                <em *ngIf="validateControl('addwinner') && hasError('addwinner', 'required')">*Wenner is required</em>
            </div>
        </div>
 
        <div class="form-group row">
            <label for="inputRunnerUp" class="col-3 col-form-label" >Runner-Up :</label>
            <div class="col-9">
                <input formControlName="addrunnerup" class="form-control" type="text" placeholder="Runner-Up" id="inputRunnerUp" >
                <em *ngIf="validateControl('addrunnerup') && hasError('addrunnerup', 'required')">*Runner-Up  is required</em>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputNoOfTeam" class="col-3 col-form-label" >No Of participation Team :</label>
            <div class="col-9">
                <input formControlName="addnumberTeam" class="form-control" type="Number" placeholder="No of Team" id="inputNoOfTeam" min="4">
                <em *ngIf="validateControl('addnumberTeam') && hasError('addnumberTeam', 'required')">*Participation Team is required</em>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputBestPlayer" class="col-3 col-form-label" >Best player of year :</label>
            <div class="col-9">
                <input formControlName="addbestplayer" class="form-control" type="text" placeholder="Best player of year" id="inputBestPlayer" >
                <em *ngIf="validateControl('addbestplayer') && hasError('addbestplayer', 'required')">*Best player name is required</em>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputBestBatter" class="col-3 col-form-label" >Best Batter of year :</label>
            <div class="col-9">
                <input formControlName="addbestbatter" class="form-control" type="text" placeholder="Best Batter of year" id="inputBestBatter" >
                <em *ngIf="validateControl('addbestbatter') && hasError('addbestbatter', 'required')">*Best Batter name is required</em>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputBestBaller" class="col-3 col-form-label" >Best Baller of year :</label>
            <div class="col-9">
                <input formControlName="addbestballer" class="form-control" type="text" placeholder="Best Boller of year" id="inputBestBaller" >
                <em *ngIf="validateControl('addbestballer') && hasError('addbestballer', 'required')">*Best Baller name is required</em>
            </div>
        </div>
        
        <br><br>
        <div class="row">
            <div class="col-5"></div>
            <div class="col-2">
                <button type="button" id="btn-sub" class="btn btn-success" [disabled]="!detailsAddForm.valid">Submit</button>
            </div> 
            <div class="col-5"></div>
        </div>

      </form>
  </div>
