<div class="my-3 p-3 bg-white rounded box-shadow" *ngFor="let res of result2">
  <h6 class="border-bottom border-gray pb-2 mb-0">Recent Tasks</h6>
  <div class="media text-muted pt-3">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">{{res.taskName}}</strong>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    </p>
    <button type="button" class="btn btn-link" (click)="open(content,res.taskId)">Add Details</button>
  </div>

</div>

<div class="modal fade">
  <ng-template #content let-c="close" let-d="dismiss" >
   <div class="modal-header">
     <h4 class="modal-title" id="modal-basic-title">Contact Details</h4>
     <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="modal-body">

    <form [formGroup]="contactForm"  autocomplete="off" novalidate (ngSubmit)="addContacts(contactForm.value)">
      
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              Contact Type
            </button>
            <div class="dropdown-menu">
              <button type="button"  *ngFor="let j of result">{{j.contactType}}</button>
              
            </div>
          </div>
        
      <input type="text" id="name" name="name" class="form-control" placeholder="Name" formControlName="name">
      <input type="text" id="address" name="address" class="form-control" placeholder="Address" formControlName="add">
      <input type="text" id="contact1" name="contact1" class="form-control" placeholder="Number 01" formControlName="num1">
      <input type="text" id="address" name="address" class="form-control" placeholder="Number 02" formControlName="num2">
      <input type="text" id="address" name="address" class="form-control" placeholder="Description" formControlName="des">
      <button type="submit" class="btn" >Save</button>

    </form>   

    </div>


    <div class="modal-footer">
        <small class="text-muted">
          for ur task
          </small>
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Close</button>
          
    </div>
    
     
 
    </ng-template>
    </div>










