<h6 class="border-bottom border-gray pb-2 mb-0">Recent Tasks</h6>

<div class="my-3 p-3 bg-white rounded box-shadow" *ngFor="let res of result2">
  <div class="media text-muted pt-3">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">{{res.taskName}}</strong>
{{res.description}}    
</p>
    <button type="button" class="btn btn-link" (click)="open(content,res.taskId)">Add Details</button>
    <button type="button" class="btn btn-link" (click)="viewInfoDetails(res.taskId)">View Added Details</button>
  </div>

</div>

<div class="modal fade">
  <ng-template #content let-c="close" let-d="dismiss" >
   <div class="modal-header">
     <h4 class="modal-title" id="modal-basic-title">Contact Details</h4>
     <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="modal-body"  id="formContent">

    <form [formGroup]="contactForm"  autocomplete="off" novalidate (ngSubmit)="addContacts(contactForm.value)">
      
        <div class="dropdown">
            <button class="btn btn-dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact Type >
            </button>
            {{ctypename}}
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button type="button" class="dropdown-item" (click)="contactType(j.contactId,j.contactType)" *ngFor="let j of result">{{j.contactType}}</button>
            
              
            </div>
          </div>
        <br><br>
        <div id="label">Name:</div>
        <input type="text" id="name" name="name" class="form-control" formControlName="name">

        <div id="label">Address:</div>
      <input type="text" id="address" name="address" class="form-control" formControlName="add">

      <div id="label">Number 1:</div>
      <input type="number" id="contact1" name="contact1" class="form-control" formControlName="num1">

      <div id="label">Number 2:</div>
      <input type="number" id="address" name="address" class="form-control" formControlName="num2">

      <div id="label">Description:</div>
      <input type="text" id="address" name="address" class="form-control" formControlName="des">

      <div id="label">Contact Description:</div>
      <input type="text" id="address" name="address" class="form-control" formControlName="cdes">
      <br><br>

      <button type="submit" class="btn">Save</button>

    </form>   

    </div>


    
    
     
 
    </ng-template>
    </div>










