<app-nav-bar></app-nav-bar>


<section class="testimonial py-5" id="testimonial">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 py-5 text-white text-center " id="sideA">
                <div class="sideA">
                    <div class="card-body">
                        <img src="assets/_image/cslogo.png" style="width:30%">
                        
                        <h2 class="py-3">Assign Tasks</h2>
                        <p>Tation argumentum et usu, dicit viderer evertitur te has. Eu dictas concludaturque usu, facete detracto patrioque an per, lucilius pertinacia eu vel.
  
  </p>
                    </div>
                </div>
            </div>
  
  
            <div class="col-md-8 py-5 border" id="formV">
                    <form [formGroup]="InfoForm"  autocomplete="off" novalidate (ngSubmit)="addTaskInfo(InfoForm.value)">

                        
                     <div class="form-row">
                            <div class="input-group mb-3">
                                    <select class="custom-select" id="inputGroupSelect02" formControlName="type">

                                      <option selected>Select Type...</option>
                                      <option value="1">Bus</option>
                                      <option value="2">Hotel</option>
                                      <option value="3">Restaurant</option>
                                      <option value="3">Other</option>

                                    </select>
                                    
                            </div>
                        
                        <div class="form-group col-md-6">
                          <input type="text" class="form-control"  placeholder="Name" formControlName="name" id="name">
                          <em *ngIf="validateControl('name') && hasError('name', 'required')">*Name is required</em>

                        </div>
                        <div class="form-group col-md-12">
                              <input  placeholder="Address" class="form-control" type="text" formControlName="address" id="address">
                     
                         </div>
                      </div>
                      <div class="form-row">
                             
                              <div class="form-group col-md-6">
                                      <input  placeholder="Cost" class="form-control" formControlName="cost" type="text" id="cost">
                                      <em *ngIf="validateControl('cost') && hasError('cost', 'required')">*Cost is required</em>

                                  </div>
                      </div>
  
                      
  
                    <div class="form-row">
                        
                          
                            <div class="form-group col-md-12">
                                    <input  placeholder="Description/Contacts" class="form-control" type="textarea" formControlName="description" id="description">
                                    <em *ngIf="validateControl('description') && hasError('description', 'required')">*Contact Detail are required</em>

                                </div>
                    </div>
                    
                
                    
                    <div class="form-row">
                        <div class="form-group">
                                  <div class="btn-group" role="group" aria-label="Basic example">
                                      <button type="button" class="btn btn-danger" (click)="redirectToOwnerList()">Cancel</button>
                                      <button type="submit" class="btn btn-success" [disabled]="!InfoForm.valid">Submit</button>

                                    </div>
                              </div>
                    </div>
                </form>
            </div>  
            </div>
            </div>
            </section>

            