<app-nav-bar></app-nav-bar>

<div id="background"  >
    <div id="backgroundIN" >
<div *ngIf="poll"  >
<div  class="wrapper col-md-7 container">
<div class="card" style="width: 100%;">
    <img class="card-img-top" src="assets/_image/vote 1.jpg" alt="Card image cap">
    <div class="card-body">
      <div class=row>
        <div class=col-sm-8>
      <h5 class="card-title">{{poll.title}}</h5>
      <h5 class="card-title">{{poll.description}}</h5>

      <h5 class="card-title">Poll close at: {{poll.closingDate | date}}</h5>
      </div>
      <div class=col-sm-1 *ngIf="this.IsAdmin||this.IsRC"> 
          <button type="button" class="btn" id="btn" (click)="removePoll()" >Remove Poll</button>
      </div>
      </div>
      <br/>
      <table class="table table-borderless">
       <tr>
         <td>Destinations</td>
         <td>Number of Votes</td>
         <td></td>
       </tr>
         
          <tr  *ngFor="let i of destinations;">
            
          <td *ngIf="i.dest!=null">{{i.dest}}</td>
          <td *ngIf="i.dest!=null" >{{i.destVote}}</td>
          <td *ngIf="i.dest!=null" ><button  type="button" class="btn" (click)="vote(i.id,i.destVote,i.dest)">Vote</button></td>
    
          </tr>
          </table> 
    </div>
  </div>
</div>
</div>

<div *ngIf="!poll">
  <br><br>
    <div class="wrapper col-md-7 container" >
      <div class="card" style="width: 100%;">
        <img class="card-img-top" src="assets/_image/vote 1.jpg" alt="Card image cap">
        <div class="card-body">
          <h3>  No poll added yet</h3>
          <button  *ngIf="this.IsAdmin||this.IsRC" class="btn" (click)="addPoll()">Add New Poll</button>
        </div>
    </div>
    </div>
</div>
</div>
</div>