<!-- <app-logged-header></app-logged-header> -->
<app-loging-header></app-loging-header>


<div class="card-deck" >
  <div class="card">
    <img class="card-img-top" src="assets\_image\employees_card_31256.png" alt="Card image cap">
    <div class="card-body">
      <a href="/task/addtask"><h5 class="card-title">Assignments</h5></a> 
      <p class="card-text">Assign tasks to RC members, get notified when task is updated or completed</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets\_image\assi.png" alt="Card image cap">
    <div class="card-body">
      <a href="/task/list"><h5 class="card-title">Overview</h5></a>
      <p class="card-text">Overview of all tasks in one place.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets\_image\email.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Email Tasks</h5>
      <p class="card-text">Create tasks by sending email to RC's account</p>
    </div>
  </div>
</div>



<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="assets\_image\images.jpg" alt="Card image cap">
    <div class="card-body">
      <a href="/task/addtask"><h5 class="card-title">Selective Sharing Permissions</h5></a> 
      <p class="card-text">Share with specific team members, choose who can modify or complete tasks</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets\_image\ass.jpg" alt="Card image cap">
    <div class="card-body">
      <a href="/task/mytask"><h5 class="card-title">My Tasks</h5></a>
      <p class="card-text">All tasks about yours.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets\_image\email.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Email Tasks</h5>
      <p class="card-text">Create tasks by sending email to RC's account</p>
    </div>
  </div>
</div>

