<div>

    <div class="wrapper fadeInDown col-md-12 container">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <h1>Update Project</h1>
            </div>
            <h5 class="card-title">
                <h3 id="msg">{{Message}}</h3>
            </h5>
            <!-- Sign up Form -->
            <form [formGroup]="projectForm" autocomplete="off" novalidate (ngSubmit)="updateproject(projectForm.value)">
                <div class="form-group col-md-12">
                    <label for="email" class="sr-only">DepartmentId</label>
                    <input disabled formControlName="projectId" required>

                    <em *ngIf="validateControl('projectId') && hasError('projectId', 'required')">*Project Id is
                        required!</em>


                </div>
                <div class="form-group col-md-12">
                    <label for="key" class="sr-only">Name</label>
                    <input formControlName="projectName" required>
                    <label> Project Name</label>
                    <em *ngIf="validateControl('projectName') && hasError('projectName', 'required')">*Project name is
                        required</em>

                </div>
                <div class="form-group col-md-12">
                    <label for="key" class="sr-only">Dis</label>
                    <input formControlName="projectDescription" required>
                    <label> Project Description</label>
                    <em *ngIf="validateControl('projectDescription') && hasError('projectDescription', 'required')">*Project
                        details is required</em>

                </div>

                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="submit" class="btn btn-success" [disabled]="!projectForm.valid">Update</button>

                </div>
            </form>


        </div>
    </div>


</div>