
    
  <app-nav-bar></app-nav-bar>

<div id="homeback" >



<div id="part0" >
<h1 id="mainH" >Creative <br>Events </h1>

</div>

<div id="part1">
  <div class = "row">
    <div class = "col-sm-2"></div>
  <div col-sm-4>
  <h1 id="head">UPCOMMING EVENTS</h1>
  </div>
  <div class = "col-sm-2"></div><div class = "col-sm-2"></div>
  <div col-sm-2>
    <button type="button" class="btn btn-info" (click)="onClick()">Add New Event </button>
  </div>
  </div>
    <div id="cardDesk" class="card-deck" >
       
        <div class="row">
            <div class="col-lg-4">
              <img class="rounded-circle" src="assets\_image\past.jpg" alt="Generic placeholder image" width="140" height="140">
              <h2>Beach Party</h2>
              <p>Visit here to see all upcomming events of the company.You can grab your chance to participate to the event by submiting the forum.You can enjoy your day with family members</p>
              <p><a class="btn btn-secondary" routerLink="/events/vieweventpage" role="button" (click)="Events()">View details &raquo;</a>
                <a class="btn btn-secondary"  role="button" (click)="UpdateEvents()">Update Event &raquo;</a>
              </p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="rounded-circle" src="assets\_image\event.png" alt="Generic placeholder image" width="140" height="140">
              <h2>Annual trip</h2>
              <p>Visit here to see recently closed events and their details.You can get more details from here.Can generate reports easily.You can visit here to get Contact details of previous event also includes here</p>
              <p><a class="btn btn-secondary" routerLink="/events/vieweventpage" role="button" (click)="pastEvent()">View details &raquo;</a>
                <a class="btn btn-secondary"  role="button" (click)="UpdateEvents()">Update Event &raquo;</a>
              </p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="rounded-circle" src="assets\_image\yearend.jpg" alt="Generic placeholder image" width="140" height="140">
              <h2>Year End Part</h2>
              <p>Visit here to see your task and all assign tasks categorized by evets.Also an overview of tasks.Assigned tasks for employees can do here.And also can manage them.RC can upload their details see all</p>
              <p><a class="btn btn-secondary" role="button" routerLink="/events/vieweventpage">View details &raquo;</a>
                <a class="btn btn-secondary"  role="button" (click)="UpdateEvents()">Update Event &raquo;</a>
              </p>
            </div><!-- /.col-lg-4 -->
            <a  id="txt">More..</a>
          </div>
        
        
        
      </div>

</div>



<!-- part 2 -->

<div id="part2">
    <h1 id="head">PAST EVENTS</h1>
      <div id="cardDesk" class="card-deck" >
          
          <div class="row">
              <div class="col-lg-4">
                <img class="rounded-circle" src="assets\_image\c.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Creative Sixes</h2>
                <p>Visit here to see all upcomming events of the company.You can grab your chance to participate to the event by submiting the forum.You can enjoy your day with family members</p>
                <p><a class="btn btn-secondary" routerLink="/pastevent/eventcard" role="button" (click)="Events()">View details &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <img class="rounded-circle" src="assets\_image\b.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Blood Donation</h2>
                <p>Visit here to see recently closed events and their details.You can get more details from here.Can generate reports easily.You can visit here to get Contact details of previous event also includes here</p>
                <p><a class="btn btn-secondary" routerLink="/pastevent/eventcard" role="button" (click)="pastEvent()">View details &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <img class="rounded-circle" src="assets\_image\p.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Creative Anniversary</h2>
                <p>Visit here to see your task and all assign tasks categorized by evets.Also an overview of tasks.Assigned tasks for employees can do here.And also can manage them.RC can upload their details see all</p>
                <p><a class="btn btn-secondary" role="button" routerLink="/pastevent/eventcard">View details &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <a id="txt">More..</a>
            </div>
          
          
          
        </div>
  
  </div>

<!-- end of part 2 -->


<div id="part3">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <img class="mb-2" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
            <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Cool stuff</a></li>
              <li><a class="text-muted" href="#">Random feature</a></li>
              <li><a class="text-muted" href="#">Team feature</a></li>
              <li><a class="text-muted" href="#">Stuff for developers</a></li>
              <li><a class="text-muted" href="#">Another one</a></li>
              <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Resource</a></li>
              <li><a class="text-muted" href="#">Resource name</a></li>
              <li><a class="text-muted" href="#">Another resource</a></li>
              <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Team</a></li>
              <li><a class="text-muted" href="#">Locations</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>
    
</div>

<div id="part3">

  

</div>


</div>


