<app-nav-bar></app-nav-bar>


<div id="homeback">



  <div id="part0">
    <h1 id="mainH">Creative <br>Events </h1>
    <h4 id="bottomright">Date: {{today|date:'fullDate'}}</h4>

  </div>

  <div id="part1" *ngIf="Upcommming3Event">

    <h1 id="head" class=" container">UPCOMMING EVENTS</h1>
    <div id="addbuttonview">
      <button *ngIf="IsAdmin||IsRC" type="button" id="addbutton" class="btn link" (click)="onClick()">Add New Event
      </button>
      <button type="button" id="addbutton" class="btn link" (click)="viewPoll()">View Poll </button>
    </div>

    <div class="row">

      <div>

      </div>
    </div>
    <div id="cardDesk" class="card-deck" class="col-lg-11 col-sm-12 container">

      <div class="row">
        <div *ngFor="let item of Upcommming3Event" id="event" class="col-lg-4 col-sm-10" (click)="ViewUpcommingEvent(item.id)">
          <img class="rounded-circle" [src]="ImageUrl+item.eventImageUrl" alt="Generic placeholder image">
          <h2>{{item.eventTitle}}</h2>
          <h5>{{item.startDate |date}}</h5>
          <p>{{item.eventDescription}}</p>

          <p><a class="btn btn-secondary" routerLink="/events/vieweventpage" role="button" (click)="ViewUpcommingEvent(item.id)">View
              details &raquo;</a>

          </p>
        </div>

        
        <a id="txt">More..</a>
      </div>



    </div>

  </div>



  <!-- part 2 -->

  <div id="part2" *ngIf="Last3Event">
    <h1 id="head" class=" container">PREVIOUS EVENTS</h1>
    <div id="cardDesk" class="card-deck" class="col-lg-11 col-sm-12 container">

      <div class="row">
        <div *ngFor="let item of Last3Event" id="event" class="col-lg-4 col-sm-10" (click)="ViewPastEvent(item.id)">
          <img class="rounded-circle" [src]="ImageUrl+item.eventImageUrl" alt="Generic placeholder image">
          <h2>{{item.eventTitle}}</h2>
          <h5>{{item.startDate |date}}</h5>
          <p>{{item.eventDescription}}</p>
          <p><a class="btn btn-secondary" role="button" (click)="ViewPastEvent(item.id)">View details &raquo;</a></p>
        </div>

        <a id="txt">More..</a>
      </div>



    </div>

  </div>

  <!-- end of part 2 -->


  <div id="part3">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <img class="mb-2" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
          <small class="d-block mb-3 text-muted">&copy; 2018-2019
             
          </small>
        </div>
        <div class="col-6 col-md">
          <h5 class="text-left">Contact Us</h5>
          <ul class="list-unstyled text-small text-left">
            <li><a class="text-muted" href="#">Creative Software,</a></li>
            <li><a class="text-muted" href="#">No. 29, Deal Place, Colombo 03, Sri Lanka.</a></li>
            <li><a class="text-muted" href="#">e-mail : <b>info@CreativeSoftware.com </b></a></li>
            <li><a class="text-muted" href="#">phone : +94 11 250 5889</a></li>
           
            
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5> </h5>
          <p class="text-muted text-left">
              Creative Software is a pioneer and leader in Sri Lanka’s software industry.
          </p>
          <p class="text-muted text-left">
              We specialize in building and managing dedicated teams of software engineers and provide project-based software development and maintenance services.
          </p>
        </div>
        <div class="col-6 col-md">
          <h5> </h5>
          
        </div>
      </div>
    </footer>

  </div>
 
 
  

</div>
<div class="card-footer text-muted">
    Designed by,
    level 2 undergraduates 
    of university of moratuwa 
    faculty Information Technology.
  </div>