
    
   <app-logged-header></app-logged-header>
<div id="homeback">


<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/4nzRr2zTeilvbluf3/nature-background-beautiful-summer-nature-background-beautiful-summer-green-leaves-swinging-over-trees-out-of-focus-over-trees-out-of-focus_bkvky5bj_thumbnail-full01.png" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://previews.123rf.com/images/goodze/goodze1604/goodze160400113/55677544-abstract-background-of-route-and-journey-amidst-the-big-tree-and-beautiful-nature.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://wallpapertag.com/wallpaper/full/d/6/e/276519-vertical-nature-background-2560x1600-720p.jpg" alt="Third slide">
      </div>
    </div>
  </div> -->
<div id="part0">
<h1>Event Managment</h1>
<h1>System</h1>

</div>

<div id="part1">
  <div class="row card-group container">

    <div class="col-sm-4">
        <a href="events/upComingEvents"  >
      <div class="card mb-5" style="width: 16rem;">
        <img class="card-img-top" src="https://media.urbanistnetwork.com/saigoneer/article-images/legacy/Vm1pSRPb.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><br/>Upcoming Events</h5>
         
          
         
        </div>
      </div>
      </a>
    </div>


    <div class="col-sm-4">
        <a href="events/previousEvent"  >
        <div class="card mb-5" style="width: 16rem;">
          <img class="card-img-top" src="https://media.urbanistnetwork.com/saigoneer/article-images/legacy/Vm1pSRPb.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><br/>Previous Evenst</h5>
           
          </div>
        </div>
        </a>
      </div>


      <div class="col-sm-4">
          <a href="events/viewTask"  >
          <div class="card mb-5" style="width: 16rem;">
            <img class="card-img-top" src="https://media.urbanistnetwork.com/saigoneer/article-images/legacy/Vm1pSRPb.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><br/>My Tasks</h5>
              
              
             
            </div>
          </div>
          </a>
        </div>

        <div class="col-sm-4">
            <a href="events/createEventPageForTrip"  >
            <div class="card mb-5" style="width: 16rem;">
              <img class="card-img-top" src="https://media.urbanistnetwork.com/saigoneer/article-images/legacy/Vm1pSRPb.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><br/>Create Event</h5>
               
                
               
              </div>
            </div>
            </a>
          </div>
    
  </div>
</div>

<div id="part2">
  <div class="row card-group container">

    <div class="col-sm-4">
        <a href="events/upComingEvents"  >
      <div class="card mb-5" style="width: 16rem;">
        <img class="card-img-top" src="https://media.urbanistnetwork.com/saigoneer/article-images/legacy/Vm1pSRPb.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><br/>Upcoming Events</h5>
         
          
         
        </div>
      </div>
      </a>
    </div>


    <div class="col-sm-4">
        <a href="events/previousEvent"  >
        <div class="card mb-5" style="width: 16rem;">
          <img class="card-img-top" src="https://media.urbanistnetwork.com/saigoneer/article-images/legacy/Vm1pSRPb.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><br/>Previous Evenst</h5>
           
          </div>
        </div>
        </a>
      </div>


      <div class="col-sm-4">
          <a href="events/viewTask"  >
          <div class="card mb-5" style="width: 16rem;">
            <img class="card-img-top" src="https://media.urbanistnetwork.com/saigoneer/article-images/legacy/Vm1pSRPb.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><br/>My Tasks</h5>
              
              
             
            </div>
          </div>
          </a>
        </div>

        <div class="col-sm-4">
            <a href="events/createEventPageForTrip"  >
            <div class="card mb-5" style="width: 16rem;">
              <img class="card-img-top" src="https://media.urbanistnetwork.com/saigoneer/article-images/legacy/Vm1pSRPb.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><br/>Create Event</h5>
               
                
               
              </div>
            </div>
            </a>
          </div>
    
  </div>
</div>

<div id="part3">
  <div class="row card-group container">

    <div class="col-sm-4">
        <a href="events/upComingEvents"  >
      <div class="card mb-5" style="width: 16rem;">
        <img class="card-img-top" src="https://media.urbanistnetwork.com/saigoneer/article-images/legacy/Vm1pSRPb.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><br/>Upcoming Events</h5>
         
          
         
        </div>
      </div>
      </a>
    </div>


    <div class="col-sm-4">
        <a href="events/previousEvent"  >
        <div class="card mb-5" style="width: 16rem;">
          <img class="card-img-top" src="https://media.urbanistnetwork.com/saigoneer/article-images/legacy/Vm1pSRPb.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><br/>Previous Evenst</h5>
           
          </div>
        </div>
        </a>
      </div>


 
        <div class="col-sm-4">
            <a href="events/createEventPageForTrip"  >
            <div class="card mb-5" style="width: 16rem;">
              <img class="card-img-top" src="https://media.urbanistnetwork.com/saigoneer/article-images/legacy/Vm1pSRPb.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><br/>Create Event</h5>
               
                
               
              </div>
            </div>
            </a>
          </div>
    
  </div>
</div>


</div>


