
.titleBar h1{
    color: rgb(243, 243, 243);
    text-shadow: rgb(255, 255, 255);
    text-align: center;
}
.titleBar img{
    height: 60px;
    
}
/* .titleBar h1{
    color: rgb(196,199,199);
    text-shadow: rgb(255, 255, 255);
   text-align: center;
} */
