

<div class="top">
    <div class="titleBar">
            <div class="row ">
            <div class="col-2">
                    <img src="assets/_image/logo-white.png" >
            </div>
            <div class="col-8">
                    <h1 >Event Manegment System</h1>
            </div>
            <div class="col-2"></div>
           </div> 
            
    </div>
 
  <!-- <div *ngIf="logged; then thenBlock else elseBlock" ></div>
    <ng-template #thenBlock>
        <app-logged-header></app-logged-header>
    </ng-template>
    <ng-template #elseBlock>
        <app-loging-header></app-loging-header>
        
    </ng-template> -->

<div id="bottompage">


    <div class="row ">
            <!-- <div class="col-1 side">
                
           
                </div>
         -->
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
        <!-- <div class="col-1 side">
        
        </div> -->
      </div>

    </div>

   


