.titleBar{
    background-color: rgb(126, 126, 129);
    background-image: linear-gradient( rgba(252, 74, 74, 0.856),rgb(126, 126, 129),rgb(126, 126, 129),#5B5B5B,#212F3C);
    height: 70px;
}
.titleBar h1{
    color: rgb(82, 0, 0);
    text-shadow: rgb(255, 255, 255);
    text-align: center;
}

.titleBar img{
    height: 60px;
    
}
