<app-logged-header></app-logged-header>


<div class="form-row">
    <div class="form-group col-md-1">
    </div>
    <div class="form-group col-md-10">
     

<div id="showview">
    <div>
        <h2>Admin Controller Page</h2>
      </div>
  <div class="form-row">
    <div class="form-group col-md-6">
        <app-show-departments-details></app-show-departments-details>
    </div>
    <div class="form-group col-md-6">
        <app-show-roles-details></app-show-roles-details>
    </div>
  </div>
</div>
<div id="createview">
    <div class="form-row">
      <div class="form-group col-md-6">
         <app-department-create></app-department-create> 
      </div>
      <div class="form-group col-md-6">
        <app-role-create></app-role-create>
      </div>
    </div>
  </div>
  
</div>
<div class="form-group col-md-1">
  </div>
</div>