#btn{
    background-color: rgb(176, 14, 35);
}
h2{
    text-align: center;
    color: rgb(176, 14, 35);
}
#showview{
padding: 20px;
background-color: rgba(160, 161, 161, 0.8); /* fallback for old browsers */
   
}
#createview{
    background: rgb(212, 212, 211);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgb(136, 135, 134),rgb(212, 212, 211));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgb(136, 135, 134),rgb(212, 212, 211)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}

.card{
    background-color: rgba(196, 199, 199, 0.8);
}