


      <div >
        
        <div  class="wrapper fadeInDown col-md-12 container">
          <div id="formContent">
            <!-- Tabs Titles -->
        
            <!-- Icon -->
            <div class="fadeIn first">
              <h1>Create Event</h1>
            </div>
            <h5 class="card-title"> <h3 id="msg">{{Message}}</h3></h5>
            <!-- Sign up Form -->
            <form [formGroup]="EventForm" autocomplete="off" novalidate (ngSubmit)="createrole(EventForm.value)">
                <div class="form-group">
                    <label for="email" class="sr-only">DepartmentId</label>
                    <input class="form-control" formControlName="EventId" id="EventId" placeholder="Event Id">
                    <em *ngIf="validateControl('EventId') && hasError('EventId', 'required')">*Event Id is required!</em>
                    <em *ngIf="validateControl('EventId') && hasError('EventId', 'email')">*This not a valid email!</em>
            
                </div>
                <div class="form-group">
                    <label for="key" class="sr-only">Name</label>
                    <input type="text" formControlName="EventName" id="EventName" class="form-control" placeholder="Event Name">
                    <em *ngIf="validateControl('EventName') && hasError('EventName', 'required')">*Event name is required</em>
                    <em *ngIf="validateControl('EventName') && hasError('EventName', 'maxlength')">*Maximum allowed length is 100 characters.</em>
                  
                </div>
                <!-- <div class="form-group">
                    <label for="key" class="sr-only">Dis</label>
                    <input type="text" formControlName="EventType" id="EventType" class="form-control" placeholder="Event Type">
                    <em *ngIf="validateControl('EventType') && hasError('EventType', 'required')">*Event type is required</em>
                    <em *ngIf="validateControl('EventType') && hasError('EventType', 'maxlength')">*Maximum allowed length is 100 characters.</em>
                  
                </div> -->
                <div class="form-group">
                   
                    <select class="form-control" formControlName="EventType" placeholder="EventType" id="EventType">
                            <option value="" selected disabled hidden>EventTypes</option>
                            <option [value]="e.id" *ngFor="let e of eventtypes">{{e.eventTypeName}}</option>
                        </select>
                  </div>
                
                  <div class="form-group">
                    <label for="email" class="sr-only">DepartmentId</label>
                    <input type="date" class="form-control" formControlName="EventStartDate" id="EventStartDate" placeholder="EventStartDate">
                    <em *ngIf="validateControl('EventStartDate') && hasError('EventStartDate', 'required')">*EventStartDate is required!</em>
                    <em *ngIf="validateControl('EventStartDate') && hasError('EventStartDate', 'email')">*This not a valid email!</em>
            
                </div>

                <div class="form-group">
                    <label for="email" class="sr-only">DepartmentId</label>
                    <input type="date" class="form-control" formControlName="EventEndDate" id="EventEndDate" placeholder="EventEndDate">
                    <em *ngIf="validateControl('EventEndDate') && hasError('EventEndDate', 'required')">*EventEndDate is required!</em>
                    <em *ngIf="validateControl('EventEndDate') && hasError('EventEndDate', 'email')">*This not a valid email!</em>
            
                </div> 
                <div class="form-group">
                    <label for="email" class="sr-only">DepartmentId</label>
                    <input type="date" class="form-control" formControlName="EventClosingDate" id="EventClosingDate" placeholder="EventClosingDate">
                    <em *ngIf="validateControl('EventClosingDate') && hasError('EventClosingDate', 'required')">*EventClosingDate is required!</em>
                    <em *ngIf="validateControl('EventClosingDate') && hasError('EventClosingDate', 'email')">*This not a valid email!</em>
            
                </div> 
                <div class="form-group" *ngIf="des">
                    <label for="email" class="sr-only">DepartmentId</label>
                    <input class="form-control" formControlName="EventDescription" id="EventDescription" placeholder="EventDescription">
                    <em *ngIf="validateControl('EventDescription') && hasError('EventDescription', 'required')">*EventDescription is required!</em>
                    <em *ngIf="validateControl('EventDescription') && hasError('EventDescription', 'email')">*This not a valid email!</em>
            
                </div> 

                <div class="btn-group" role="group" aria-label="Basic example">
                <!-- <button type="button" class="btn btn-danger" (click)="redirectToOwnerList()">Cancel</button> -->
                <button type="submit" class="btn btn-success" [disabled]="!EventForm.valid">Create</button>
                
            </div> 
            </form>
                <!-- <div class="copy-text">For Create new account? <i class="fa fa-heart"></i><a id="crateAccountlink"  (click)="crateAccount()"> Create</a></div> -->
                
            <!-- Remind Passowrd -->
            <div id="formFooter">
              <a  id="crateAccountlink"  class="underlineHover" ></a>
             
            </div>
        
          </div>
        </div>
    
  
        </div>
    
    
    
