


     <div >
        
        <div  class="wrapper fadeInDown col-md-12 container">
          <div id="formContent">
            <!-- Tabs Titles -->
        
            <!-- Icon -->
            <div class="fadeIn first">
              <h1>Create Event</h1>
            </div>
            <h5 class="card-title"> <h3 id="msg">{{Message}}</h3></h5>
            <!-- Sign up Form -->
            <form [formGroup]="EventForm" autocomplete="off" novalidate (ngSubmit)="createrole(EventForm.value)">
                
                <div class="form-group">
                   
                    <select class="form-control" formControlName="EventType" placeholder="EventType" id="EventType">
                            <option value="" selected disabled hidden>EventTypes</option>
                            <option [value]="e.id" *ngFor="let e of eventtypes">{{e.eventTypeName}}</option>
                        </select>
                  </div>
                
                  <div class="form-group">
                    <label for="email" class="sr-only">DepartmentId</label>
                    <input type="date" class="form-control" formControlName="StartDate" id="StartDate" placeholder="EventStartDate">
                    <em *ngIf="validateControl('StartDate') && hasError('StartDate', 'required')">*EventStartDate is required!</em>
                    
                </div>
                <div class="form-group">
                        <label for="email" class="sr-only">DepartmentId</label>
                        <input class="form-control" formControlName="EventDescription" id="EventDescription" placeholder="EventDescription">
                        <em *ngIf="validateControl('EventDescription') && hasError('EventDescription', 'required')">*EventDescription is required!</em>
                        
                    </div> 
                    
                <div class="form-group">
                        <label for="email" class="sr-only">DepartmentId</label>
                        <input class="form-control" formControlName="EventTitle" id="EventTitle" placeholder="EventTitle">
                        <em *ngIf="validateControl('EventTitle') && hasError('EventTitle', 'required')">*EventDescription is required!</em>
                        
                    </div> 
    

                
                <div class="form-group" >
                    <label for="email" class="sr-only">DepartmentId</label>
                    <input type="date" class="form-control" formControlName="EndDate" id="EndDate" placeholder="EndDate">
                    
                </div>
               
                <div class="form-group ">
                    <label for="email" class="sr-only">DepartmentId</label>
                    <input type="date" class="form-control" formControlName="ClosingDate" id="ClosingDate" placeholder="ClosingDate">
                   
                </div>
                <!--dont use closing date as ClosingDate-->
            

               

                <div class="form-group">
                    <label for="email" class="sr-only">DepartmentId</label>
                    <input class="form-control" formControlName="Destination" id="Destination" placeholder="Destination">
                    
                </div> 
                <div class="form-group">
                     <input class="form-control" formControlName="Venue" id="Venue" placeholder="Venue">
                    
                </div> 
                <div class="form-group">
                    <input class="form-control" formControlName="Liquor" id="Liquor" placeholder="Whether liqour is allowed">
                  
               </div> 
               <div class="form-group">
                <input class="form-control" formControlName="IsFamilyMembersAllowed" id="IsFamilyMembersAllowed" placeholder="Whether family members able to participate">
               
           </div> 
           
           <div class="form-group">
            <input class="form-control" formControlName="NumberOfTeams" id="NumberOfTeams" placeholder="Number of teams">
           
       </div> 
               
                <div class="btn-group" role="group" aria-label="Basic example">
                <!-- <button type="button" class="btn btn-danger" (click)="redirectToOwnerList()">Cancel</button> -->
                <button type="submit" class="btn btn-success" [disabled]="!EventForm.valid">Create event</button>
                 <button type="button" class="btn btn-success" [disabled]="!EventForm.valid" (click)="updateEvent(EventForm.value)">Add more fields</button>
                
            </div> 

            
            </form>
                <!-- <div class="copy-text">For Create new account? <i class="fa fa-heart"></i><a id="crateAccountlink"  (click)="crateAccount()"> Create</a></div> -->
                
            <!-- Remind Passowrd -->
            <div id="formFooter">
              <a  id="crateAccountlink"  class="underlineHover" ></a>
             
            </div>
        
          </div>
        </div>
    
  
        </div>
    
    
    
    