<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>


<body>
    <div style="margin-left: 10cm;margin-right: 9cm">
<h3>
{{event.eventTitle}}
 </h3>
 </div>
<br/><br/>
 <img src= {{image}} style="width:40%; margin-left: 8cm">

 <br/><br/>
 <div style="margin-left: 8cm;margin-right: 8cm">
<p >
  {{event.eventDescription}}
</p>
<br/>
 <p>
    <span class="glyphicon glyphicon-calendar"></span>
    Date : {{event.startDate}}
 </p>
 <p>
    <span class="glyphicon glyphicon-map-marker"></span>
    {{destOrVen}} : {{event.destination}}
 </p>
 <br/><br/>
 <button type="button" class="btn btn-outline-success" (click)="register()">Register now!</button>
</div>
  <br/><br/>

 </body>
