<!-- <app-logged-header></app-logged-header> -->

<app-nav-bar></app-nav-bar>
<div class="row mb-2">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          
          <h3 class="mb-0">
            <a class="text-dark">{{event.eventTitle}}</a> 
          </h3>
          
          <p class="card-text mb-auto">{{event.eventDescription}}</p>
        </div>
        <img class="card-img-right flex-auto d-none d-md-block" style="width: 50%; height: 50%;"src="assets/_image/trip.jpg" alt="Card image cap">
      </div>
    </div>
    <div class="col-md-2"></div>
   </div>