
#image:hover{
    transform: scale(1.1);
}
#image{
    transition: transform 1s; /* Animation */
    
}
#division {
    
    overflow: hidden;      /* hide the overflow */
}
#form{
    float:left;
   
 }

 #dis{
     padding-left: 20px
 }
#h1{
    position: relative;
    left: 5%;
}
#h2{
    text-align: right;
    position: relative;
    right: 5%;
}




