<app-logged-header></app-logged-header>
<html>
  <body>
    <div class="btn-group">
<li class="nav-item"  >

  <a class="nav-link" href="pastevent/imageupload"> <button type="button" class="btn btn-primary">Upload Images</button></a>
  <a class="nav-link" href="pastevent/imageview"><button type="button" class="btn btn-primary">Image Gallery of donating campaign </button></a>
  <a class="nav-link" href="pastevent/bdonation"> <button type="button" class="btn btn-primary">Info</button></a>
</li>
</div>
</body>
</html>


