<app-nav-bar></app-nav-bar>
<div id="background" *ngIf="event"  >
        <div id="backgroundIN" >

<br><br>
<div class="card col-md-11 container" >
  <table class="table table-borderless">
      <tr>
          <td>Employee Id</td>
          <td>Name</td>
          <td *ngIf="nic">NIC</td>
          <td *ngIf="dob">Date of Birth</td>
          <td *ngIf="gender">Gender</td>
          <td *ngIf="mealType">Prefered Meal Type</td>
          <td *ngIf="accomadation">Accomadation</td> 
          <td *ngIf="transportationMode">Transportation Type</td>
          <td *ngIf="spouseName">Spouse Name</td>
          <td *ngIf="spouseNic">Spouse Nic</td>
          <td *ngIf="spouseDob">Spouse Date of Birth</td>
          
         
        </tr>
       
    <tr *ngFor="let i of employee;">
  
<td>{{i.employeeId}}</td>
<td>{{i.name}}</td>
<td *ngIf="nic">{{i.nic}}</td>
<td *ngIf="dob">{{i.dob | date: 'dd/MM/yyyy'}}</td>
<td *ngIf="gender">{{i.gender}}</td>
<td *ngIf="mealType">{{i.mealType}}</td>
<td *ngIf="accomadation">{{i.accomadation}}</td>
<td *ngIf="transportationMode">{{i.transportationMode}}</td>
<td *ngIf="spouseName">{{i.spouseName}}</td>
<td *ngIf="spouseNic">{{i.spouseNic}}</td>
<td *ngIf="spouseDob">{{i.spouseDob | date: 'dd/MM/yyyy'}}</td>
<td>    <button type="button" class="btn" (click)="deleteEmployee(i)">Delete Employee</button>
</td>
<!-- <td><button class="btn btn-light" (click)="selectEmp(i.empId,i.empName)">{{i.empName}}</button></td> -->
 
</tr>
</table> 
  </div>
</div>
</div>