<div class="card" style="width: 25rem;">
    <div class="card-body">
        <h3 class="card-title">Create Position</h3>
        <h6 class="card-subtitle mb-2 text-muted">
            <h6 id="msg">{{Message}}</h6>
        </h6>
        <form [formGroup]="positionForm" autocomplete="off" novalidate (ngSubmit)="createrole(positionForm.value)">
            <div class="form-group col-md-12">

                <input class="form-control" formControlName="positionId" id="positionId" required>
                <label> Position Id</label>
                
            </div>
            <div class="form-group col-md-12">

                <input type="text" formControlName="positionName" id="positionName" class="form-control" required>
                <label> Position Name</label>
                
            </div>
            <div class="form-group col-md-12">

                <input type="text" formControlName="positionDis" id="positionDis" class="form-control" required>
                <label> Position Description</label>
                
            </div>

            <div class="btn-group" role="group" aria-label="Basic example">
               <button type="submit" class="btn" id="btn" [disabled]="!positionForm.valid">Create</button>

            </div>
        </form>
    </div>
</div>