<app-nav-bar></app-nav-bar>


<div id="background" *ngIf="result"  >
                <div id="backgroundIN" >
                                <br><br>           

<!-- view all contact types -->
<!-- search from contact type -->
<div class="col-10 container">

<div class="row ">
    <div id="card" class="p-2 m-2 col-lg-2 col-sm-6 col-md-3" *ngFor="let i of result;">
        
            <h5 class="d-block text-black-dark " id="topic">{{i.contactType}}</h5>
            <p>{{i.description}}</p>
           <div class="container">
            <button type="button" (click)="viewAll(i.contactId)"><img src="https://img.icons8.com/ios-glyphs/30/000000/search.png"></button>
            <button type="button"  (click)="open2(content2,i.contactId)"><img src="https://img.icons8.com/android/30/000000/plus.png"></button>
            <!-- <button type="button" class=" btn-link btn-sm" (click)="open2(content3,i.contactId)">Update</button> -->
            <button type="button" (click)="deleteContactType(i.contactId)"><img src="https://img.icons8.com/ios-glyphs/30/000000/delete.png"></button>
        </div>
        </div>

        <!-- add new contacts -->
        <div class="modal fade">
            <ng-template #content2 let-c="close" let-d="dismiss" >
             <div class="modal-header">
                     <h4> Add Contact detail</h4>
               <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                       
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body" id="formContent">

                <!-- body -->
                <form [formGroup]="AddContactForm" (ngSubmit)="addContacts(AddContactForm.value)">

                        <div id="label">Name:</div>
                        <input class="form-control" type="text" formControlName="oname" required>

                        <div id="label">Address:</div>
                        <input class="form-control" type="text" formControlName="address" required >

                        <div id="label">Contact Number 1:</div>
                        <input class="form-control" type="number" formControlName="num1" required >

                        <div id="label">Contact Number 2:</div>
                        <input class="form-control"  type="number" formControlName="num2" >

                        <div id="label">Contact Description:</div>
                        <input class="form-control" type="textarea"  formControlName="cd">


<br>
                        <button type="submit" class="btn btn-success" [disabled]="!AddContactForm.valid" >Add Contacts</button>

                    
                
                </form>
             </div>
             
            </ng-template>
    </div>  
    

<!-- form to add contact types -->


        <div id="cardAdd" class="p-2 m-2 col-lg-2 col-sm-6">
            <button type="button"  (click)="open(content)">
                <img src="https://img.icons8.com/ios-glyphs/30/000000/plus-math.png">                    </button>
            <div class="modal fade">
                    <ng-template #content let-c="close" let-d="dismiss" >
                     <div class="modal-header">
                       <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                         <span aria-hidden="true">&times;</span>
                       </button>
                     </div>
                     <div class="modal-body" id="formContent">

                        <!-- body -->
                        <form [formGroup]="ContactForm" (ngSubmit)="addContactType(ContactForm.value)">


                                <div id="label">Contact Type:</div>
                                <input id="tbname" name="yourname" class="form-control"  formControlName="type">
                               
                                <div id="label">Description:</div>
                                <input id="tbname" name="des" class="form-control" formControlName="description">

                                <br>
                                <button type="submit" class="btn btn-success" (click)="x()" >Add Contact</button>

                            
                        
                        </form>
                     </div>
                     
                    </ng-template>
            </div>
        </div>



</div>

    
</div>
</div>

      