<app-nav-bar></app-nav-bar>




<!-- view all contact types -->
<!-- search from contact type -->



<div class="row m-5">
    <div id="card" class="p-2 m-2 col-lg-2 col-sm-6" *ngFor="let i of result;">
        
            <h5 class="d-block text-black-dark ">{{i.contactType}}</h5>
            <small>{{i.contactTypeDescription}}</small>
            <button type="button" (click)="viewAll(i.contactId)"><img src="https://img.icons8.com/ios-glyphs/30/000000/search.png"></button>
            <button type="button"  (click)="open2(content2,i.contactId)"><img src="https://img.icons8.com/android/30/000000/plus.png"></button>
            <!-- <button type="button" class=" btn-link btn-sm" (click)="open2(content3,i.contactId)">Update</button> -->
            <button type="button" (click)="deleteContactType(i.contactId)"><img src="https://img.icons8.com/ios-glyphs/30/000000/delete.png"></button>

        </div>

        <!-- add new contacts -->
        <div class="modal fade">
            <ng-template #content2 let-c="close" let-d="dismiss" >
             <div class="modal-header">
                     <h4> Add Contact detail</h4>
               <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                       
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">

                <!-- body -->
                <form [formGroup]="AddContactForm" (ngSubmit)="addContacts(AddContactForm.value)">


                        <input  class="form-control" type="text" formControlName="oname">
                        <label>Name of Owner</label>

                        <input class="form-control" type="text"formControlName="address">
                        <label>Address</label>

                        <input class="form-control" type="number" formControlName="num1">
                        <label>Contact Number</label>

                        <input class="form-control"  type="number" formControlName="num2">
                        <label>Contact Number</label>


                        <input class="form-control" type="textarea" formControlName="cd">
                        <label>Contact Description</label>



                        <button type="submit" class="btn btn-success">Add Contacts</button>

                    
                
                </form>
             </div>
             
            </ng-template>
    </div>  
    

<!-- form to add contact types -->


        <div id="cardAdd" class="p-2 m-2 col-lg-2 col-sm-6">
            <button type="button"  (click)="open(content)">
                <img src="https://img.icons8.com/ios-glyphs/30/000000/plus-math.png">                    </button>
            <div class="modal fade">
                    <ng-template #content let-c="close" let-d="dismiss" >
                     <div class="modal-header">
                       <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                         <span aria-hidden="true">&times;</span>
                       </button>
                     </div>
                     <div class="modal-body">

                        <!-- body -->
                        <form [formGroup]="ContactForm" (ngSubmit)="addContactType(ContactForm.value)">


                                <input id="tbname"  name="yourname" class="form-control" formControlName="type" required>
                                <label>Contact Type</label>

                                <input type="text"  class="form-control"  formControlName="ctypedes" required>
                                <label>Contact type description</label>
                                
                                <button type="submit" class="btn btn-danger" (click)="x()" >Add Contact</button>

                            
                        
                        </form>
                     </div>
                     
                    </ng-template>
            </div>
        </div>




    
           
      