<app-nav-bar></app-nav-bar>
<div id="background" >
    <div id="backgroundIN" >

<br><br>
<div id="listback" class="col-lg-10 container">
  <table  class="table table-borderless">
    <tr>
      <th>Contact Person</th>
      <th>Address</th>
      <th>Contact number</th>
      <th>Contact number</th>
      
    </tr>
    <tr class="border-bottom border-secondary " *ngFor="let i of result;">
  <td><strong>{{i.name}} : </strong>{{i.contactDescription}}</td>

<td>{{i.address}}</td>
<td>{{i.number1}}</td>
<td>{{i.number2}}</td>
<td> <button type="button" class="btn" id="btn" (click)="deleteDetail(i.contactDetailId)"> Delete</button>  </td>
<td> <button type="button" class="btn" (click)="updateDetail(i.contactDetailId)"> Update</button></td>
</tr>
  </table>
</div>
</div>
</div>