#navBar{
    position: sticky;
    top: 0;
   
    width: 100%;
    z-index: +1;
    background-color: rgb(80, 80, 80);
}
#navBar a{
    color: rgb(216, 212, 212);
    font-size: 12pt;
}
#navBar a:hover{
    color: rgb(255, 255, 255);
    
    -webkit-text-shadow: 0 30px 60px 0 rgba(250, 250, 250, 0.3);
    text-shadow: 0 30px 60px 0 rgba(247, 247, 247, 0.3);
    font-size: 12.5pt;
}
#navbarDropdownMenuLink{
height: 45px;
}
#navbarimage{
    height: 50px;
}