<app-logged-header></app-logged-header>
<body>
  cricketinfo works!
</body>
<!DOCTYPE html>
<html lang="en">
<head>
  
</head>
<body>

<div class="container">
  <h2>Cricket Match</h2>
           
  <table class="table">
    <thead>
      <tr>
        <th>EventID</th>
        <th>Destination</th>
        <th>Description</th>
        <th>Winners</th>
        <th>*</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>colombo</td>
            <td>latest function and good for us</td>
            <td>myobio team</td>
            <td>More details</td>
          </tr><tr>
              <td>1</td>
              <td>colombo</td>
              <td>latest function and good for us</td>
              <td>myobio team</td>
              <td>More details</td>
            </tr><tr>
                <td>1</td>
                <td>colombo</td>
                <td>latest function and good for us</td>
                <td>myobio team</td>
                <td>More details</td>
              </tr>
    </tbody>
  </table>
</div>

</body>
</html>
